@import url("../navbar_mobile.css");

#menu_bt1{
    color: white;
    text-decoration: none;
}

/*TITLE*/

#title{
    padding-top: 80px;
    font-weight: 100;
    color: #1551a0
    text-align: center;
    font-size: 32px;
    width: 90%;
    margin: auto;
    
}
.divisor{
    
    padding-top: 40px;
    margin-left: 20px; 
    margin-right: 20px; 
    border-top: 1px solid #a1d9ff;
   
}

.subtitle{
    font-weight: 100;
    color: #1551a0;
    font-size: 20px;
    padding-top: 44px;
    padding-left: 20px;
    clear: both;
    
}
.text_general{
    color: grey;
    width: 100%;
    text-align: justify;  
    float: left;
    font-size: 14px;
}
.text{
    width: 80%;
    
    margin: auto;
}

/*STORIA*/

#container_img_storia{
    width: 100%;
    
}
#imgs2{
    display: none;
}

.container_img{
    width: 100%;
    text-align: center;
}
.img_storia{
    margin-bottom: 20px;
    margin-top: 20px;
    height: 250px;
    box-shadow: 5px 10px 18px grey;
}


/*SEDI*/

span{
    color: #080888;
}

#container_img_sedi{
    width: 100%;
    height: 620px;
    float: left;
    text-align: center;
    
}
#map{
    margin-top: 40px;
    width:360px;
    height:400px; 
}

/*PERSONE*/

#img_persone{
    margin-top: 20px; 
    width:360px;
    box-shadow: 5px 10px 18px grey;
    
}
#container_img_persone{
    width: 100%;
    height: 400px;
    float: left;
    text-align: center;
}
#organigramma{
    width: 360px;
    
}

/*IMPIEGATI*/

#div_impiegati{
    width: 360px;
    margin: auto;
}
.div_impiegato{
    width: 160px;
    min-height: 250px;
    float: left;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px; 
    font-size: 13px;
    color: #080888;
    overflow: hidden;
    padding: 10px;
    
}
.img_impiegato{
    height: 120px;
    
    
}
.subsubtitle{
    font-weight: 100;
    color: #1551a0;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 30px;
    clear: both;
}
.exception_impiegati{
    clear: both;
}
.spg{
    color:grey;
}
.spgr{
    float: right;
}