@import url("../navbar_tablet.css");

#menu_bt1{
    color: white;
    text-decoration: none;
}

/*TITLE*/

#title{
    font-weight: 100;
    padding-top: 2em;
    color: #1551a0;
    text-align: center;
    font-size: 2em;
    width: 90%;
    margin: auto;
    
}
.divisor{
    
    padding-top: 2.5em;
    margin-left: 2.5em; 
    margin-right: 2.5em; 
    border-top: 1px solid  #a1d9ff;
   
}
.d{
    
    width: 100%;
    padding: 0.5em;
    margin: auto;
    border-top: 1px solid  #008cff3d;
   
}
.subtitle{
    font-weight: 100;
    color: #1551a0;
    font-size: 1.25em;
    padding-top: 3.75em;
    padding-left: 2.5em;
    clear: both;
    
}

.text_general{
    color: grey;
    width: 50%;
    text-align: justify;  
    float: left;
    font-size: 0.9em;
}
.text{
    width: 21.25em;
    margin: auto;
}

/*STORIA*/

#container_img_storia{
    width: 50%;
    float: left;
    display: block;
    
}

.container_img{
    width: 100%;
    text-align: center;
}
.img_storia{
    margin-bottom: 1.25em;
    margin-top: 1.25em;
    height: 15.7em;
    box-shadow: 5px 10px 18px grey;
}


/*SEDI*/

span{
    color: #080888;
}

#container_img_sedi{
    width: 50%;
    height: 28.75em;
    float: left;
    text-align: center;
    
}
#map{
    margin-top: 5.5em;
    margin-bottom: 1em;
    width:22.5em;
    height:25em; 
}

/*PERSONE*/

#img_persone{
    
    width:22.5em;
    box-shadow: 5px 10px 18px grey;
    
}
#container_img_persone{
    width: 50%;
    height: 31.25em;
    float: left;
    text-align: center;
}
#organigramma{
    width: 22.5em;
    height: 31.25em;
    
}

/*IMPIEGATI*/

#div_impiegati{
    width: 46em;
    margin: auto;
}
.div_impiegato{
    text-align: center;
    width: 14em;
    min-height: 15.7em;
    float: left;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    margin-left: 2em;
    margin-right: 2em; 
    font-size: 0.8em;
    color: #080888;
    overflow: hidden;
    padding: 0.6em;
}
.img_impiegato{
    height: 7.5em;
    
    
}
.subsubtitle{
    font-weight: 100;
    color: #1551a0;
    font-size: 1.25em;
    padding-top: 2.5em;
    padding-left: 1em;
    clear: both;
}
.exception_impiegati{
    clear: both;
}
.spg{
    color: grey;
    float: left;
}
.spgr{
    float: right;
}
