@import url("../navbar_tablet.css");

#menu_bt1{
    color: white;
    text-decoration: none;
}

/*TITLE*/

#title{
    font-weight: 100;
    padding-top: 80px;
    padding-bottom: 40px;
    color: rgba(0, 73, 169, 0.888);
    text-align: center;
    font-size: 32px;
    width: 90%;
    margin: auto;
    
}
.divisor{
    
    padding-top: 40px;
    margin-left: 40px; 
    margin-right: 40px; 
    border-top: 1px solid  #008cff3d;
   
}

.subtitle{
    font-weight: 100;
    color: rgba(0, 73, 169, 0.888);
    font-size: 20px;
    padding-top: 60px;
    padding-left: 40px;
    clear: both;
    
}

a{
    color: rgb(8, 8, 136);
    
}
.text_general{
    color: rgb(98, 105, 146);
    width: 50%;
    text-align: justify;  
    float: left;
    font-size: 14px;
}
.text{
    width: 340px;
    margin: auto;
}

/*STORIA*/

#container_img_storia{
    width: 50%;
    float: left;
    display: block;
    
}

.container_img{
    width: 100%;
    text-align: center;
}
.img_storia{
    margin-bottom: 20px;
    margin-top: 20px;
    height: 250px;
    box-shadow: 5px 10px 18px #888888;
}


/*SEDI*/

span{
    color: rgb(8, 8, 136);
}

#container_img_sedi{
    width: 50%;
    height: 460px;
    float: left;
    text-align: center;
    
}
#map{
    margin-top: 100px;
    width:360px;
    height:400px; 
}

/*PERSONE*/

#img_persone{
    
    width:360px;
    box-shadow: 5px 10px 18px #888888;
    
}
#container_img_persone{
    width: 50%;
    height: 500px;
    float: left;
    text-align: center;
}
#organigramma{
    width: 360px;
    height: 500px;
    
}

/*IMPIEGATI*/

#div_impiegati{
    width: 46em;
    margin: auto;
}
.div_impiegato{
    width: 180px;
    min-height: 250px;
    float: left;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 30px;
    margin-right: 30px; 
    font-size: 13px;
    color: rgb(7, 7, 124);
    overflow: hidden;
    padding: 10px;
}
.img_impiegato{
    height: 120px;
    
    
}
.subsubtitle{
    font-weight: 100;
    color: rgba(2, 44, 99, 0.888);
    font-size: 20px;
    padding-top: 40px;
    padding-left: 30px;
    clear: both;
}
.exception_impiegati{
    clear: both;
}
.spg{
    color: rgb(98, 105, 146);
}
.spgr{
    float: right;
}
