@import url("../navbar_mobile.css");

#work{
    color: white;
    text-decoration: none;
}

.title{
    font-weight: 100;
    padding-top: 60px;
    padding-bottom: 20px;
    
    color: #1551a0;
    text-align: left;
    font-size: 28px;
    width: 100%;
    padding-left: 10px; 
    
}
.label_offer{
    display: table;
    width: 90%;
    margin: auto;
    transition: 1s;
    padding: 10px;
    border: 1px solid  #a1d9ff;
    box-shadow: 2px 2px 4px #a1d9ff;
}
#container_filter{
    padding-left: 10px;
    color: #1551a0;
    font-size: 13px;    
    width: 100%;
    text-align: left;
    padding-bottom: 40px; 
}
#text_search {
    width: 220px;
    border: 1px solid #55bbff;
    padding: 0.3em;
    color: grey;
    font-size: 1em;
    background-color: #daefff;
}
.divisor{
    transition: 0.5s;
    width: 100%;
    margin: auto;
    margin-top: 10px; 
    border-top: 1px solid #a1d9ff;
   
}
.div_img_offer{
    width: 20%;
    height: 120px;
    padding: 15px;
    float: left;
    overflow: hidden;
   
}
.date_input{
    float: right;
}
.div_information{
    min-height: 120px;
    width: 80%;
    float: left;    
}
.text{
    font-size: 13px;
}
.img_offer{
    width: 100%;
}
input[type="email"]{
    font-size: 14px;
    height: 22px;
}
input[type="date"]{
    font-size: 14px;
    height: 22px;
}
input[type="text"]{
    font-size: 14px;
    height: 22px;
}
input[type="checkbox"]{
    display: none;
    
}
fieldset{
    border: none;
}
legend{
    padding-bottom:0.8em; 
    font-size: 1em;
    color: grey;
}
.form_offer {
    height: 0;
    opacity: 0;
    transition: 0.8s;
    width: 90%; 
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 1em;
    overflow: hidden;
    box-shadow: 5px 10px 18px #a1d9ff;

}
.label_offer:hover{
    cursor: pointer;
    background-color: #f3faff;
    box-shadow: 2px 5px 10px #a1d9ff;
}
.label_offer:hover .divisor{
    display: block;
    width: 300px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid #a1d9ff;
}
.pro_select:checked + label + .form_offer{
    height: 42em;
    background-color: #f3faff;
    opacity: 1;
}


.div_container_form{
    
    width: 100%;
    display: table;
    font-size: 13px;
    margin: auto;
    margin-top: 10px;

}
.general_informations{
    width: 100%;
    margin: auto;

}
.cont_general{
    width: 100%;
    display: table;
    margin: auto;
    
}
.texta{
    width: 100%;
    height: 10em;
    resize: none;
    border: 1px solid #daefff;
}
.in_form{
    width: 60%;
    height: 20px;
    float: right;
    border: 1px solid #daefff;
}
.container_radio{
    float: right;
}
.div_genre{
    width: 100%;

    
}
.textmessage{
    clear: both;
    resize:none;
    width: 100%;
    height: 100px;
}
.submit{
    margin-top: 1em;
    font-size: 1em;
    float: right;
    clear: both;
    cursor: pointer;
    border: none;
    padding: 0.8em 1.2em;
    color: white;
    background-color: #55bbff;
    text-decoration: underline;
}
.submit:hover {
    background-color: #33a3ff;
}
.identity{
    display:none;
}

/*PRENOTAZIONI*/

#container_prenotazioni{
    margin-bottom: 1em;
    float: right;
    font-size: 13px; 
    background-color: #f1f5fa;;
    margin-top:60px; 
    margin-right: 10px;
    right: 0;
    padding: 10px;
    box-shadow: 5px 10px 18px grey;

}
#container_prenotazioni a{
    color: #080888;
}

