@import url("../navbar_desktop.css");

#work {
    background-color: #33a3ff;
}

.title{
    font-weight: 100;
    padding-top: 2em;
    padding-bottom: 1em;
    color: #1551a0;
    text-align: center;
    font-size: 2.25em;
    width: 90%;
    margin: auto;
    
}
#container_filter{
    color: #1551a0;
    width: 100%;
    text-align: center;
    padding-bottom: 2.5em; 
}
#text_search {
    width: 15.65em;
    border: 1px solid #55bbff;
    
    
    color: grey;
    font-size: 1em;
    background-color: #daefff;
}
.label_offer{
    display: table;
    width: 50em;
    margin: auto;
    transition: 1s;
    padding: 0.6em;
    border: 1px solid  #a1d9ff;
    box-shadow: 2px 2px 4px #a1d9ff;
    
}

.div_img_offer{
    width: 20%;
    height: 9.4em;
    padding: 0.9em;
    float: left;
    overflow: hidden;
    
  
}
.date_input{
    float: right;
}
.div_information{
    min-height: 9.4em;
    width: 80%;
    float: left;   
    
}
.text{
    font-size: 0.9em;
}
.img_offer{
    width: 100%;
}
input[type="email"]{
    font-size: 0.9em;
    height: 1.38em;
}
input[type="date"]{
    font-size: 0.9em;
    height: 1.38em;
}
input[type="text"]{
    font-size: 0.9em;
    height: 1.38em;
}
input[type="checkbox"]{
    display: none;
    
}
.form_offer {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: 0.8s;
    width: 43.75em;
    margin: auto;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1.25em;
    overflow: hidden;
    box-shadow: 5px 10px 18px #a1d9ff;

}
fieldset{
    border: none;
}
legend{
    padding-bottom:0.8em; 
    font-size: 1em;
    color: grey;
}
.label_offer:hover, .label_offer:focus{
    cursor: pointer;
    background-color: #f3faff;
    box-shadow: 2px 5px 10px #a1d9ff;
    
}

.pro_select:checked + label + .form_offer{
    height: 52em;
    background-color: #f3faff;
    opacity: 1;
    visibility: visible;
}

.divisor{
    transition: 0.5s;
    display: block;
    width: 37.5em;
    margin: auto;
    margin-top: 0.6em;
    margin-bottom: 1.25em;
    border-top: 1px solid #a1d9ff;
   
}
.div_container_form{
    
    width: 40.65em;
    display: table;
    font-size: 0.9em;
    margin: auto;
    margin-top: 0.6em;
}
.general_informations{
    
    width: 100%;
    margin: auto

}
.cont_general{
    
    display: table;
    width: 100%;
    margin: auto;
}
.texta{
    height: 10em;
    width: 100%;
    resize: none;
    border: 1px solid #daefff;
}
.in_form{
    width: 15.65em;
    height: 1.25em;
    float: right;
    border: 1px solid #daefff;
}
.container_radio{
    float: right;
}
.div_genre{
    width: 100%;

    
}

.submit{
    margin-top: 1em;
    font-size: 1em;
    float: right;
    clear: both;
    cursor: pointer;
    border: none;
    padding: 0.8em 1.2em;
    color: white;
    background-color: #55bbff;
}
.submit:hover, .submit:focus {
    background-color: #33a3ff;
    text-decoration: underline;
}
.identity{
    display:none;
}

/*PRENOTAZIONI*/

#container_prenotazioni{
    display: table;
    font-size: 0.9em;
    position: fixed;
    right: 0;
    background-color: #f1f5fa;
    margin-top: 4.4em;
    margin-right: 1.25em;
    padding: 0.6em;
    box-shadow: 5px 10px 18px grey;

}
#container_prenotazioni a{
    color: #080888;
}

   