* {
    box-sizing: border-box;
	padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}
.nascosto{
	margin: 0.6em;
	clear: both;
	font-size: 0.75em;
}
.logo_nascosto{
    width: 5em;
 
}
.logo_nascosto img{
    width: 100%;
}
#navbar {
	display: none;
}

.title{

    padding-bottom: 2.5em;
    color: black;
    text-align: center;
    font-size: 2em;
    width: 90%;
    margin: auto;
    
}
#container_filter{
    display: none;
}
#text_search {
    width: 15.65em;
    border: 1px solid gray;
    padding: 0.3em;
    color: black;

}
.label_offer{
    
    display: table;
    width: 90%;
    margin: auto;
    transition: 1s;
    padding: 0.6em;
    border: 1px solid gray;
    margin-bottom: 1.25em;
    
    
}
.divisor{
    transition: 0.5s;
    width: 90%;
    margin: auto;
    margin-top: 0.6em; 

   
}
.div_img_offer{
    width: 20%;
    height: 9.4em;
    padding: 1em;
    float: left;
    overflow: hidden;
   
}
.date_input{
    float: right;
}
.div_information{
    min-height: 9.4em;
    width: 80%;
    float: left;    
}

.img_offer{
    width: 100%;
}

input[type="checkbox"]{
    display: none;
    
}
.form_offer {
    
    display: none;


}

.identity{
    display:none;
}

/*PRENOTAZIONI*/

#container_prenotazioni{
    display: none;

}
#container_prenotazioni a{
    color: black;
    text-decoration: none;
}

/*CONTATTI*/

#div_container_contatti{
    page-break-inside: avoid;
	clear: both;
    width: 100%;
	height: 16em;
	text-align: center;
}
#div_contatti{  
    width: 100%;
    height: 16em;
    width: 48em;
    margin: auto;
}
.div_contatto{
    position: relative;
    float: left;
    width: 33.33%;
    margin-top: 4.4em;

    color: black;
}
a{
	color: black;
	text-decoration: none;
}
/* FOOT */

#div_foot{
    width: 100%;
    height: 2.5em;
    bottom: 0;
}
#div_text_foot{
	bottom: 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    color: black;
    display: table;
}
