@import url("../navbar_desktop.css");

#work {
    background-color: #33a3ff;
}

.title{
    font-weight: 100;
    padding-top: 80px;
    padding-bottom: 40px;
    color: rgba(0, 73, 169, 0.888);
    text-align: center;
    font-size: 36px;
    width: 90%;
    margin: auto;
    
}
#container_filter{
    color: rgba(0, 73, 169, 0.888);
    width: 100%;
    text-align: center;
    padding-bottom: 40px; 
}
#text_search {
    width: 250px;
    border: 1px solid #0077ff;
    
    
    color: #696969;
    font-size: 1em;
    background-color: #bfe6ff;
}
.label_offer{
    display: table;
    width: 800px;
    margin: auto;
    transition: 1s;
    padding: 10px;
    border: 1px solid  #008cff3d;
    box-shadow: 2px 2px 4px #008cff3d;
    
}

.div_img_offer{
    width: 20%;
    height: 150px;
    padding: 15px;
    float: left;
    overflow: hidden;
    
  
}
.date_input{
    float: right;
}
.div_information{
    min-height: 150px;
    width: 80%;
    float: left;   
    
}
.text{
    font-size: 14px;
}
.img_offer{
    width: 100%;
}
input[type="email"]{
    font-size: 14px;
    height: 22px;
}
input[type="date"]{
    font-size: 14px;
    height: 22px;
}
input[type="text"]{
    font-size: 14px;
    height: 22px;
}
input[type="checkbox"]{
    display: none;
    
}
.form_offer {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: 0.8s;
    width: 700px;
    margin: auto;
    padding: 1em;
    margin-top: 15px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 5px 10px 18px #008cff3d;

}
fieldset{
    border: none;
}
legend{
    padding-bottom:0.8em; 
    font-size: 1em;
    color: rgb(151, 164, 172);
}
.label_offer:hover{
    cursor: pointer;
    background-color: rgb(243, 250, 255);
    box-shadow: 2px 5px 10px #008cff3d;
    
}

.pro_select:checked + label + .form_offer{
    height: 52em;
    background-color: rgb(243, 250, 255);
    opacity: 1;
    visibility: visible;
}

.divisor{
    transition: 0.5s;
    display: block;
    width: 600px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-top: 1px solid  #008cff3d;
   
}
.div_container_form{
    
    width: 650px;
    display: table;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
}
.general_informations{
    
    width: 100%;
    margin: auto

}
.cont_general{
    
    display: table;
    width: 100%;
    margin: auto;
}
.texta{
    height: 10em;
    width: 100%;
    resize: none;
    border: 1px solid rgb(218, 239, 255);
}
.in_form{
    width: 250px;
    height: 20px;
    float: right;
    border: 1px solid rgb(218, 239, 255);
}
.container_radio{
    float: right;
}
.div_genre{
    width: 100%;

    
}

.submit{
    margin-top: 1em;
    font-size: 1em;
    float: right;
    clear: both;
    cursor: pointer;
    border: none;
    padding: 0.8em 1.2em;
    color: white;
    background-color: #0099ffa8;
}
.identity{
    display:none;
}

/*PRENOTAZIONI*/

#container_prenotazioni{
    display: table;
    font-size: 14px;
    position: fixed;
    right: 0;
    background-color: rgb(241, 245, 250);;
    margin-top: 70px;
    margin-right: 20px;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;

}
#container_prenotazioni a{
    color: black;
}
#container_prenotazioni a:hover{
    color: rgba(23, 76, 111, 0.851);
}

   