@import url("../navbar_desktop.css");
#work {
    background-color: #008cff7a;
}

h1{
    text-align: center;
    padding: 70px;
}
.label_offer{
    display: table;
    width: 800px;
    margin: auto;
    transition: 1s;
}
.divisor{
    display: block;
    width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid  #008cff3d;
   
}
.div_img_offer{
    width: 20%;
    height: 150px;
    padding: 15px;
    float: left;
   
}
.div_information{
    height: 150px;
    width: 80%;
    float: left;    
}
.text{
    font-size: 14px;
}
.img_offer{
    width: 100%;
}


input[type="checkbox"]{
    display: none;
    
}
.form_offer {
    height: 0;
    opacity: 0;
    transition: 0.8s;
    width: 700px;
    
    margin: auto;
    margin-top: 15px;
    overflow: hidden;
    box-shadow: 5px 10px 18px #888888;

}
.label_offer:hover{
    cursor: pointer;
    background-color: rgb(243, 250, 255);
    box-shadow: 5px 10px 18px #888888;
    
}
.pro_select:checked + label + .form_offer{
    height: 240px;
    background-color: rgb(243, 250, 255);
    opacity: 1;
}


.div_container_form{
    
    width: 650px;
    display: table;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
}
.general_informations{
    width: 300px;
    float: left;

}
.in_form{
    width: 180px;
    float: right;
}
.container_radio{
    float: right;
}
.div_genre{
    width: 100%;

    
}
.textmessage{
    float: right;
    resize:none;
    width: 50%;
}
.submit{
    float: right;
    clear: both;
}
.identity{
    display:none;
}

/*PRENOTAZIONI*/

#container_prenotazioni{
    display: table;
    border: 1px solid #0270c97a;
    font-size: 16px;
    position: fixed;
    right: 0;
    background-color: #1b48fc;
    margin-top: 50px;
    padding: 10px;
    color: white;
    box-shadow: 5px 10px 18px #888888;

}
#container_prenotazioni a{
    color: white;
}
#container_prenotazioni a:hover{
    color: rgba(195, 224, 244, 0.851);