* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* NAVIGATION */

#compact_menu, #cm_label {  /* only mobile */
	display: none;
}
#navbar {
	z-index: 2;
	position: fixed;
	left: 0%;
	width: 100%;
	background-color: #0099ffa8;
}
#home_link {
	float: left;
	width: 9em;
	text-decoration: none;
}
#logo {
	position: relative;
	width: 100%;
	padding: 0.8em;
}
.dropdown, #contacts, #work {
	float: left;
}
.dropdown {
	padding: 1em 0;
}
.drop_button {
	padding: 1em 1.5em;
	color: white;
	text-decoration: none;
	background-color: transparent;
	font-size: 1em;
}
.drop_content {
	position: absolute;
	top: 50px;
	visibility: hidden;
	background-color: #0099ffa8;
}
.drop_content a{
	padding: 1em;
	color: white;
	text-decoration: none;
	display: block;
	background-color: #008cff7a;
}
#contacts, #work, #login, #user {
	padding: 1em 1.5em;
	color: white;
	text-decoration: none;
	font-size: 1em;
}
#admin, #login, #user {
	float: right;
}
#admin {
	width: 60px;
	height: 50px;
	font-size: 0;
	background-image: url('../images/admin.png');
	background-size: 35px;
	background-position: center;
	background-repeat: no-repeat;
}
#user {
	background-color: #0066ff;
	font-weight: bold;
}
.dropdown:hover .drop_button {
	background-color: #008cff7a;
}
#work:hover, #contacts:hover, #admin:hover, #login:hover, #user:hover {
	background-color: #008cff7a;
}
.dropdown:hover .drop_content {
	visibility: visible;
}
.drop_content a:hover {
	background-color: #002fff80;
}
.nascosto {
	display: none;
}

/*CONTATTI*/

#div_container_contatti {
	clear: both;
    background-color: #f1f5fa;
    width: 100%;
    height: 16em;
}
#div_contatti {  
    height: 16em;
    width: 48em;
    margin: auto;
}
.div_contatto {
    position: relative;
    float: left;
    width: 33.33%;
    margin-top: 5em;
    font-size: 0.9em;
    color: #626992;
}

/* FOOT */

#div_foot {
    width: 100%;
    height: 3.5em;
    background-color: #01346e;
}
#div_text_foot {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.9em;
    color: #b5b7c5;
    display: table;
}
