* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* NAVIGATION */

#compact_menu {  /* only mobile */
	position: fixed;
	z-index: 1;
	width: 100%;
	display: block;
	border: none;
	padding: 0.5em 0.8em;
	background-color: #00bbffcb;
}
.cm_line {
	background-color: white;
	width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
}
#navbar {
	position: fixed;
	z-index: 1;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: #00bbffcb;
	overflow-y: scroll;
}
#home_link {
	display: block;
	width: 9em;
	text-decoration: none;
}
#logo {
	position: relative;
	width: 100%;
	padding: 0.8em;
}
.dropdown, #contacts, #work {
	display: block;
}
.drop_button {
	padding: 1em 1.5em;
	border: none;
	outline: none;
	background-color: inherit;
	color: #000000;
	font-size: 1em;
}
.drop_content {
	display: none;	
}
.drop_content a{
	padding: 1em 4em;
	color: #000000;
	text-decoration: none;
	display: block;
}
#contacts, #work, #admin {
	padding: 1em 1.5em;
	text-decoration: none;
	color: black;
	font-size: 1em;
}
#admin {
	position: fixed;
	bottom: 0;
	right: 0;
}
#close {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	border: none;
	outline: none;
	color: black;
	background-color: transparent;
	font-size: 1.5em;
}