* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* NAVIGATION */

#compact_menu {  /* only mobile */
	display: none;
}
#cm_label {
	position: fixed;
	z-index: 2;
	width: 100%;
	display: block;
	padding: 0.5em 0.8em;
	background-color: #0099ffa8;
}
.cm_line {
	width: 30px;
    height: 3px;
    background-color: #0077ff;
    margin: 7px 0;
}
#cm_label:hover {
	cursor: pointer;
}
#cm_label:hover .cm_line {
	background-color: white;
}
#compact_menu:checked ~ #navbar {
	left: 0;
}
#compact_menu:checked + label .cm_line {
	display: none;
}
#compact_menu:checked + label {
	z-index: 3;
	top: 0.5em;
	right: 0.5em;
	width: 50px;
	height: 50px;
	padding: 0;
	background-color: transparent;
    background-image: url("../../images/close.png");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}
#navbar {
	position: fixed;
	z-index: 2;
	left: -100%;
	width: 100%;
	height: 100%;
	background-color: #0099ffd5;
	overflow-y: scroll;
}
#navbar::-webkit-scrollbar {
	display: none;
}
#home_link {
	display: block;
	width: 9em;
	text-decoration: none;
}
#logo {
	position: relative;
	width: 100%;
	padding: 0.8em;
}
.dropdown, #contacts, #work {
	display: block;
}
.dropdown {
	padding: 1em 0;
}
.drop_button {
	padding: 1em 1.5em;
	color: black;
	text-decoration: underline;
	background-color: transparent;
	font-size: 1em;
}
.drop_button:hover {
	color: white;
}
.drop_content {
	display: none;	
}
.drop_content a{
	display: none;
}
#contacts, #work, #admin, #login, #user {
	padding: 1em 1.5em;
	color: #000000;
	font-size: 1em;
}
#admin, #login, #user {
	display: block;
}
#work:hover, #contacts:hover, #admin:hover, #login:hover, #user:hover {
	color: white;
}

/*CONTATTI*/

#div_container_contatti{
	clear: both;
    position: relative;
    background-color: rgb(241, 245, 250);
    width: 100%;
    height: 540px;
    padding-top: 1px;
}
.div_contatto{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    font-size: 13px;
    color: rgb(98, 105, 146);
    display: table;
    text-align: center;
}

/* FOOT */

#div_foot{
    width: 100%;
    height: 60px;
    background-color: rgb(1, 52, 110);
}
#div_text_foot{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 10px;
    color: rgb(181, 183, 197);
    display: table;
}





