* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION */

#compact_menu {  /* only mobile */
	display: none;
}
#navbar {
	position: fixed;
	width: 100%;
	background-color: #00bbff57;
}
#home_link {
	float: left;
	width: 9em;
	text-decoration: none;
}
#logo {
	position: relative;
	width: 100%;
	padding: 0.8em;
}
.dropdown, #contacts {
	float: left;
}
.drop_button {
	padding: 1em 1.5em;
	border: none;
	background-color: inherit;
	color: #a4bdff;
	font-size: 1em;
}
.drop_content {
	position: absolute;
	visibility: hidden;	
}
.drop_content a{
	padding: 1em;
	color: #a4bdff;
	text-decoration: none;
	display: block;
}
#contacts, #admin {
	padding: 1em 1.5em;
	border: none;
	background-color: transparent;
	color: #a4bdff;
	font-size: 1em;
}
#admin {
	float: right;
}
#logo:hover {
	cursor: pointer;
}
.dropdown:hover .drop_button, #admin:hover, #contacts:hover {
	background-color: #00bbff2c;
}
.dropdown:hover .drop_content {
	visibility: visible;
}
.drop_content a:hover {
	border-bottom: 1px solid #a4bdff;
}

/* IMAGES */

.home_image {
	width: 100%;
}