* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION */

#compact_menu {  /* only mobile */
	display: none;
}
#navbar {
	z-index: 1;
	position: fixed;
	width: 100%;
	background-color: #0099ff57;
}
#home_link {
	float: left;
	width: 9em;
	text-decoration: none;
}
#logo {
	position: relative;
	width: 100%;
	padding: 0.8em;
}
.dropdown, #contacts {
	float: left;
}
.drop_button {
	padding: 1em 1.5em;
	border: none;
	background-color: inherit;
	color: white;
	font-size: 1em;
}
.drop_content {
	position: absolute;
	visibility: hidden;
	background-color: #0099ff57;
}
.drop_content a{
	padding: 1em;
	color: white;
	text-decoration: none;
	display: block;
	background-color: #008cff7a;
}
#contacts, #admin {
	padding: 1em 1.5em;
	border: none;
	background-color: transparent;
	color: white;
	font-size: 1em;
}
#admin {
	float: right;
}
#close {
	display: none;
}
#logo:hover {
	cursor: pointer;
}
.dropdown:hover .drop_button, #admin:hover, #contacts:hover {
	background-color: #008cff7a;
}
.dropdown:hover .drop_content {
	visibility: visible;
}
.drop_content a:hover {
	background-color: #002fff80;
}

/* IMAGES */

.home_image {
	width: 100%;
}
/* FIRST DIV */
#first_div{
	float: left;
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
#operai1_img{
	position: relative;
	width: 1500px;
	height: auto;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	
}
#logo_bianco{
	z-index: 1;
	position: relative;
	height: 160px;
	width: 550px;
	text-outline: -85px;%;
	left: 32%;
	transform: translate(-50%,-50%);
}



.div_padding_horizontal{
	position: relative;
	float: left;
	height: 10px;
	width: 100%;
	background-color: white;

}
.div_padding_vertical{
	float: left;
	height: 300px;
	width: 10px;
	background-color: white;
}
/*SECOND DIV*/
#second_div{
	position: relative;
	width: calc(50% - 15px);
	height: 300px;
	float: left;
	overflow: hidden;
}
#azienda_img{
	position: relative;
	display: block;
	width: 700px;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/*THIRD DIV*/
#third_div{
	float: left;
	position: relative;
	width: calc(50% - 15px);
	height: 300px;
	overflow: hidden;

}
#progetti_img{
	position: relative;
	display: block;
	width: 700px;
	height:auto;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}
/*FOURTH DIV*/
#fourth_div{
	float: left;
	position: relative;
	z-index: -1;
	width: 100%;
	height: 600px;
	background-color: #b1e0ff;


	
}
#logo_img{
	position: relative;
	display: block;
	height: 100px;
	width: 400px;
	left: 50%;
	top: 45%;
	transform: translate(-50%,-50%);
}