@import url("../navbar_desktop.css");

#menu_bt3{
    background-color: #33a3ff;
}


.title{
        font-weight: 100;
        padding-top: 2em;
        padding-bottom: 1em;
        color: #1551a0;
        text-align: center;
        font-size: 2.25em;
        width: 90%;
        margin: auto;
        clear: both;
}

.cont_ex{
    width: 25%;
    float: left;
    
}
.container_article{
    display: table;
    margin: auto;
    transition: 1s ease;
    border: 1px solid  #55bbff;
    box-shadow: 2px 2px 4px #a1d9ff;
    margin-bottom: 1.25em;
    
}
.link{
    text-decoration: none;
}
.container_text{
    width: 12.5em;
    min-height: 5.65em;
    
    
}
.container_img img{
    height: 100%;
    
}
.link_generico{
    
    color: #080888;
}
.container_img{
    text-align: center;
    width: 12.5em;
    height: 9.4em;
    overflow: hidden;
}
.text{
    color:grey;
    font-size: 0.9em;
    width: 12.5em;
    padding: 0.4em;
    margin: auto;
}
.link:hover .container_article{
    text-decoration: underline;
   
    box-shadow: 2px 8px 12px #a1d9ff;
    background-color: #ddeeff;
}
.container{
    display: table;
    width: 62.5em;
    margin: auto;
   
}
/*CERTIFICAZIONI*/
#text_certificazioni{
    width: 50%;
    padding: 1.25em;
    color:grey;
    float: left;
}
#text_c{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 31.25em;
}
#image_certificazioni{
    background-image: url("../../images/sicurezza.jpeg");
    background-attachment: fixed;
    background-size: 150%; 
    background-position-y: 50%;
    float: left;
    width: 50%;
    height: 30em;
}
.subtitle{
    font-weight: 100;
    color: #1551a0;
    font-size: 1.5em;
    padding-top: 3.75em;
    padding-left: 2.5em;
    clear: both;
    
}
.divisor{
    
    padding-top: 2.5em;
    margin-left: 2.5em; 
    margin-right: 2.5em; 
    border-top: 1px solid  #a1d9ff;
   
}
#container_img_cb{
    
    width: 30%;
    height: 50em;
    float: left;
    text-align: center;
}
.cont_img_cert{
    width: 100%;
    text-align: right;
    padding-right: 40px;
}
.img_certification{
    box-shadow: 2px 4px 8px #a1d9ff;
    height: 12.5em;
    margin-bottom: 1.25em; 
    transition: 0.8s;
    
}
#cont_cert{
    float: left;
    width: 70%;
}
#text_cert{
    display: table;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color:grey;
    font-size: 0.9em;
}
.img_certification:hover{
    box-shadow: 8px 12px 20px #a1d9ff;
    
}

