@import url("../navbar_mobile.css");
.nascosto{
    display: none;
}
.title{
    padding-top: 50px;
    padding-bottom: 40px;
    color: rgba(0, 73, 169, 0.888);
    text-align: center;
    font-size: 32px;
    width: 90%;
    margin: auto;
    clear: both;
}

h2{
text-align: center;
}
.container_article{
position: relative;
display: table;
float: left;
margin: 10px;
transition: 0.7s;
transition: 1s ease;
border: 1px solid  #008cff3d;
box-shadow: 2px 2px 4px #008cff3d;
}
.link_generico{

color: rgb(8, 8, 136);
}
.container_img{
width: 150px;
height: 130px;

overflow: hidden;
}
.container_text{
width: 150px;
min-height: 90px;

}
.container_img img{
width: 100%;
}
.text{
font-size: 14px;
color: black;
width: 180px;
padding-top: 20px;
margin: auto;
}
.link:hover .container_article{
box-shadow: 5px 10px 18px #3693da77;;
}
.container{
display: table;
width: 1000px;
margin: auto;

}
/*CERTIFICAZIONI*/
#text_certificazioni{
width: 100%;
padding: 20px;
color:rgb(98, 105, 146);
float: left;
}
#text_c{
position: relative;
left: 50%;
transform: translateX(-50%);
width: 80%;
text-align: justify;
}
#image_certificazioni{
background-image: url("../../images/sicurezza.jpeg");
background-attachment: fixed;
background-size: 170%; 
background-position-y: 50%;
background-position-x: 40%;
float: left;
width: 50%;
height: 600px;
display: none;
}
.subtitle{
color: rgba(0, 73, 169, 0.888);
font-size: 20px;
padding-top: 60px;
padding-left: 40px;
clear: both;

}
.divisor{

padding-top: 40px;
margin-left: 40px; 
margin-right: 40px; 
border-top: 1px solid  #008cff3d;

}
#container_img_cb{

width: 100%;
height: 180px;

}
.cont_img_cert{
width: 33%;
float: left;
text-align: center;
}
.img_certification{
height: 200px;
margin-bottom: 20px; 
transition: 0.8s;

}
#cont_cert{    
width: 100%;
padding: 20px;
}
#text_cert{
display: table;
position: relative;

left: 50%;
transform: translateX(-50%);
color:rgb(98, 105, 146);
font-size: 14px;
}
.img_certification:hover{
box-shadow: 5px 10px 18px #888888;

}

