@import url("../navbar_tablet.css");

#menu_bt3{
    color: white;
    text-decoration: none;
}


.title{
        font-weight: 100;
        padding-top: 60px;
        padding-bottom: 40px;
        color: #1551a0;
        text-align: center;
        font-size: 32px;
        width: 90%;
        margin: auto;
        clear: both;
}

.cont_ex{
    width: 33.3%;
    float: left;


}
.container_article{
    text-decoration: underline;
    position: relative;
    display: table;
    margin: auto;
    transition: 1s ease;
    border: 1px solid  #55bbff;
    box-shadow: 2px 5px 10px #a1d9ff;
    margin-bottom: 20px;
}
.link_generico{
    
    color: #080888;
}
.container_img{
    text-align: center;
    width: 200px;
    height: 150px;
    overflow: hidden;
}
.container_text{
    width: 200px;
    min-height: 90px;
    
}
.container_img img{
    height: 100%;
}
.text{
    font-size: 14px;
    color:grey;
    width: 180px;
    padding: 5px;
    margin: auto;
}
.link:hover .container_article{
    text-decoration: underline;
    background-color: #ddeeff;
    box-shadow: 2px 8px 12px #a1d9ff;
}
.container{
    display: table;
    width: 1000px;
    margin: auto;
   
}
/*CERTIFICAZIONI*/
#text_certificazioni{
    width: 50%;
    padding: 20px;
    color:grey;
    float: left;
}
#text_c{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
}
#image_certificazioni{
    background-image: url("../../images/sicurezza.jpeg");
    background-attachment: fixed;
    background-size: 170%; 
    background-position-y: 50%;
    background-position-x: 40%;
    float: left;
    width: 50%;
    height: 600px;
}
.subtitle{
    font-weight: 100;
    color: #1551a0;
    font-size: 24px;
    padding-top: 60px;
    padding-left: 40px;
    clear: both;
    
}
.divisor{
    
    padding-top: 40px;
    margin-left: 40px; 
    margin-right: 40px; 
    border-top: 1px solid  #a1d9ff;
   
}
#container_img_cb{
    
    width: 30%;
    height: 800px;
    float: left;
    text-align: center;
}
.cont_img_cert{
    width: 100%;
    text-align: right;
    padding-right: 40px;
}
.img_certification{
    height: 200px;
    margin-bottom: 20px; 
    transition: 0.8s;
    
}
#cont_cert{
    float: left;
    width: 70%;
}
#text_cert{
    display: table;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color:grey;
    font-size: 14px;
}
.img_certification:hover{
    box-shadow: 5px 10px 18px #a1d9ff;
    
}

