* {
    box-sizing: border-box;
	padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 12px;
}
.nascosto{
	margin: 0.6em;
	clear: both;
	font-size: 0.75em;
}
.logo_nascosto{
    width: 5em;
 
}
.logo_nascosto img{
    width: 100%;
}
#navbar {
	display: none;
}

input[type="checkbox"]{
    display: none;
}
.title{
    
    padding-bottom: 2.5em;
    color: black;
    text-align: center;
    font-size: 2em;
    width: 90%;
    margin: auto;
    clear: both;
}

h2{
text-align: center;
}
.container_article{
page-break-inside: avoid;
position: relative;
display: table;
float: left;
margin: 0.6em;
transition: 0.7s;
transition: 1s ease;
border: 1px solid  gray;

}
.link_generico{

color: black;
text-decoration: none;
}
.container_img{
    text-align: center;
width: 9.4em;
height: 6.25em;

overflow: hidden;
}
.container_text{
width: 9.4em;
min-height: 6.25em;

}
.container_img img{
height: 100%;
}
.text{
color:black;


width: 9.4em;
padding-top: 1.25em;
margin: auto;
}

.container{
display: table;
width: 62.5em;
margin: auto;

}
/*CERTIFICAZIONI*/
#text_certificazioni{
width: 100%;
padding: 1.25em;
color:black;
float: left;
}
#text_c{
position: relative;

width: 100%;

}
#image_certificazioni{
display: none;
}
.subtitle{
color: black;
font-size: 1.5em;
padding-top: 3.75em;
padding-left: 2.5em;
clear: both;

}
.divisor{
    
    padding-top: 2.5em;
    margin-left: 2.5em; 
    margin-right: 2.5em; 
    border-top: 1px solid  gray;
   
}
#container_img_cb{
    
    width: 30%;
    height: 43.75em;
    float: left;
    text-align: center;
}

.cont_img_cert{
    width: 100%;
    text-align: right;
    padding-right: 2.5em;
}
.img_certification{
  
    height: 12.5em;
    margin-bottom: 1.25em; 
    transition: 0.8s;
    
}
#cont_cert{
    float: left;
    width: 70%;
}
#text_cert{
    display: table;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    
    
}
/*CONTATTI*/

#div_container_contatti{
    page-break-inside: avoid;
	clear: both;
    width: 100%;
	height: 16em;
	text-align: center;
}
#div_contatti{  
    width: 100%;
    height: 16em;
    width: 48em;
    margin: auto;
}
.div_contatto{
    position: relative;
    float: left;
    width: 33.33%;
    margin-top: 4.4em;
   
    color: black;
}
a{
	color: black;
	text-decoration: none;
}
/* FOOT */

#div_foot{
    width: 100%;
    height: 2.5em;
    bottom: 0;
}
#div_text_foot{
	bottom: 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
 
    color: black;
    display: table;
}




