* {
    box-sizing: border-box;
	padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
    background-color: #f1f5fa;
}
.nascosto {
    display: none;
}
.header {
    margin: 4em 5em 1em;
    width: calc(100% - 10em);
    border-bottom: 1px solid #a1d9ff;
    padding: 1em;
    color: #1551a0;
    font-size: 1.4em;
}
#back_link {
    position: fixed;
    left: 1.25em;
    top: 1.25em;
    padding: 1em;
    color: white;
	background-color: #55bbff;
}
form {
    display: block;
    width: 100%;
    height: 28.12em;
}
#user_data {
    border: none;
    width: 28.12em;
    height: 80%;
    margin: auto;
}
.data_input {
    display: block;
    padding: 0.8em;
}
.data_input input {
    width: 15.62em;
    float: right;
}
#change_password_checkbox {
    display: none;
}
#change_password_label {
    color: blue;
}
#change_password_label:hover, #change_password_label:focus {
    text-decoration: underline;
    cursor: pointer;
}
#change_div {
    visibility: hidden;
    width: 100%;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 1s;
}
#change_password_checkbox:checked ~ #change_div {
    visibility: visible;
    height: 8.75em;
    opacity: 1;
}
#change_password_checkbox:checked + label {
    text-decoration: underline;
}
#div_buttons {
    width: 100%;
    height: 20%;
    text-align: center;
}
.btns {
    border: none;
    padding: 1em;
    color: white;
    text-decoration: underline;
	background-color: #55bbff;
}
#cancel_btn {
    margin-left: 1em;
}
.btns:hover, #back_link:hover, .btns:focus, #back_link:focus {
    cursor: pointer;
    background-color: #33a3ff;
}
.error {
    width: 100%;
    text-align: center;
}

/* FORM DI RIMOZIONE */

.remove_control {
    display: none;
}
.remove_form_div {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #55bbff;
    transition: 0.5s;
}
.remove_btn {
    position: fixed;
    top: 1.25em;
    right: 1.25em;
    width: 3.75em;
    height: 3.75em;
    background-image: url("../../images/remove_user.png");
    background-position: center;
    background-size: 3.12em;
    background-repeat: no-repeat;
}
.remove_btn:hover, .remove_btn:focus {
    background-color: #33a3ff;
    cursor: pointer;
}
.remove_control:checked ~ .remove_form_div {
    left: 0;
    visibility: visible;
}
.remove_control:checked + label {
    z-index: 2;
    background-image: url("../../images/close.png");
}
.remove_form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37.5em;
    height: 12.5em;
    background-color: #bce4ff;
}
.remove_fieldset {
    border: none;
    float: left;
    width: 100%;
    height: calc(100% - 2em);
    margin-top: 2em;
    padding: 3em;
    color: gray;;
    text-align: center;
}
.radio_choice {
    display: none;
}
.remove_control:checked ~ .contall {
    
        visibility: hidden;
    }
.yes_no_div {
    width: 100%;
    text-align: center;
}
.yes_no_div label {
    float: center;
    padding: 1em;
    color: white;
    text-decoration: underline;
    background-color: #55bbff;
    margin-right: 2em;
}
.yes_no_div label:hover, .apply_btn:hover, .yes_no_div label:focus, .apply_btn:focus {
    cursor: pointer;
    background-color: #33a3ff; 
}
.radio_choice:checked + label {
    border: 2px solid white;
    background-color: #33a3ff;
}
.apply_btn {
    border: none;
    position: absolute;
    bottom: 2em;
    right: 2em;
    padding: 1em;
    color: white;
    background-color: #55bbff;
}