* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
    background-image: url("../../images/admin_background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* NAVIGATION */

#nav {
    width: 100px;
    height: 100%;
    position: fixed;
	background-color: #0099ffa8;
}
.nav_link {
    width: 100%;
    height: 16.6%;
    display: block;
    color: white;
    text-align: center;
    font-size: 0;
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
}
#nav_home {
    background-image: url("../../images/home.png");
}
#nav_people {
    background-image: url("../../images/people.png");
}
#nav_projects {
    background-image: url("../../images/projects.png");
}
#nav_articles {
    background-image: url("../../images/news.png");
}
#nav_users {
    background-image: url("../../images/users.png");
}
#nav_work {
    background-image: url("../../images/work.png");
}
.nav_link:hover {
    background-color: #008cff7a;
}

/* PARTI IN COMUNE */

.container_est {
    width: calc(100% - 100px);
    display: table;
    margin-left: 100px;
}
.header {
    width: calc(100% - 100px);
    margin-left: 100px;
    padding: 1.5em 0em;
    color: #0077ff;
    font-size: 1.4em;
    text-align: center;
    clear: both;
}

/* IMPIEGATI */

#left_container, #right_container {
    width: calc(100% - 40px);
    float: left;
}
#left_container, #right_container {
    margin-left: 20px;
    margin-right: 20px;
}
.div_impiegato {
    position: relative;
    width: 100%;
    height: 320px;
    background-color: #0099ffa8;
    overflow: hidden;
}
.imp_image {
    border: 1px solid #0099ffa8;
    border-bottom: none;
    width: 100%;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imp_info {
    width: 100%;
    height: 40%;
}
.imp_name, .imp_role, .imp_birth, .imp_mail {
    width: 100%;
    height: 25%;
    color: white;
    font-size: 1em;
}
.imp_name div, .imp_role div, .imp_birth div, .imp_mail div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 1em;
}
.imp_mail div a {
    color: white;
}
.more_info {
    border: 1px solid #0099ffa8;
    width: 100%;
    height: 30px;
    clear: both;
    color: white;
    font-size: 1em;
    text-align: center;
    background-color: #0099ffa8;
    margin-bottom: 30px;
    transition: 0.5s;
}
.more_info div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.more_info:hover {
    text-decoration: underline;
    background-color: #008cff7a;
}
.check_control, .modify_control, .remove_control {
    display: none;
}
.magic {
    width: 100%;
    height: 0;
    display: block;
    background-color: #0099ffa8;
    transition: 0.5s;
}
.check_control:checked + label .magic {
    height: 120px;
    border-top: 1px solid #0099ffa8;
}
.check_control:checked + label .imp_more {
    font-size: 0.8em;
}
.check_control:checked + label .more_info {
    height: 0;
    font-size: 0;
    border-top: none;
}
.imp_more {
    width: 100%;
    height: 33.3%;
    color: white;
    font-size: 0;
    transition: 0.5s;
}
.imp_more div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 1.5em;
}

/* FORM DI MODIFICA */

.modify_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: url("../../images/modify_user.png");
    background-position: center;
    background-size: 35px;
    background-repeat: no-repeat;
}
.modify_btn:hover {
    background-color: #008cff7a;
}
.modify_form_div, .remove_form_div {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #0099ffa8;
    transition: 0.5s;
}
.modify_control:checked ~ .modify_form_div {
    left: 0;
}
.modify_control:checked + label {
    position: fixed;
    z-index: 2;
    background-image: url("../../images/close.png");
}
.modify_form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 70%;
    background-color: #a1d9ff;
    overflow-y: scroll;
}
.identity {
    display: none;
}
.modify_personal_info, .modify_company_info {
    border: none;
    width: 100%;
    height: 400px;
    float: left;
    font-size: 0.8em;
    color: #696969;
    padding: 2.5em 2em;
    margin-top: 2em;
}
.modify_personal_info div {
    height: 12.5%;
}
.modify_personal_info input {
    width: 120px;
    float: right;
}
.file_select input {
    width: 200px;
}
.modify_company_info div {
    height: 10%;
}
.submit_reset_div {
    width: 100%;
    height: calc(15% - 2em);
    clear: both;
    margin-bottom: 2em;
    text-align: center;
}
.submit_btn, .reset_btn {
    border: none;
    outline: none;
    padding: 0.8em;
    font-size: 0.8em;
    color: white;
    background-color: #0099ffa8;
}
.reset_btn {
    margin-left: 1em;
}
.submit_btn:hover, .reset_btn:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #0077ff; 
}

/* FORM DI RIMOZIONE */

.remove_btn {
    position: absolute;
    top: 40px;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: url("../../images/remove_user.png");
    background-position: center;
    background-size: 35px;
    background-repeat: no-repeat;
}
.remove_btn:hover {
    background-color: #008cff7a;
}
.remove_control:checked ~ .remove_form_div {
    left: 0;
}
.remove_control:checked + label {
    position: fixed;
    top: 0;
    z-index: 2;
    background-image: url("../../images/close.png");
}
.remove_form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    background-color: #a1d9ff;
}
.remove_fieldset {
    border: none;
    float: left;
    width: 100%;
    height: calc(100% - 2em);
    padding: 0 2em;
    margin-top: 3em;
    color: #696969;
    text-align: center;
}
.radio_choice {
    display: none;
}
.yes_no_div {
    float: center;
    margin: 3em 3em;
}
.yes_no_div label {
    display: block;
    width: 100%;
    padding: 1em;
    color: white;
    background-color: #0099ffa8;
    margin-bottom: 1.5em;
}
.yes_no_div label:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #0077ff; 
}
.radio_choice:checked + label {
    border: 2px solid white;
    background-color: #0077ff;
}
.apply_btn {
    border: none;
    outline: none;
    position: absolute;
    bottom: 2em;
    right: 2em;
    padding: 1em;
    color: white;
    background-color: #0099ffa8;
}
.apply_btn:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #0077ff; 
}

/* PROGETTI */

/* ARTICOLI */

/* UTENTI */

/* LAVORO */