* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
    background-color: #f1f5fa;
}
.nascosto {
    display: none; 
}

/* NAVIGATION */

#compact_menu, #cm_label {  /* only mobile */
	display: none;
}
#nav {
    z-index: 2;
	position: fixed;
	left: 0%;
	width: 100%;
    background-color: #55bbff;
    border-bottom: 1px solid black;
}
.nav_link, .nav_link_dx {
    padding: 1em 1.5em;
    float: left;
    color: white;
    text-decoration: none;
    text-align: center;
}
.nav_link_dx {
    float: right;
}
#nav_home {
	float: left;
	width: 9em;
	text-decoration: none;
}
#logo {
	position: relative;
	width: 100%;
	padding: 0.8em;
}
#user {
	background-color: #0066ff;
	font-weight: bold;
}
.nav_link:hover, .nav_link_dx:hover, #user:hover {
    background-color: #33a3ff;
    text-decoration: underline;
}

/* PARTI IN COMUNE */

.container_est {
    width: 100%;
    display: table;
}
.header {
    width: 100%;
    padding: 2em 0em;
    color: #1551a0;
    text-align: center;
    font-size: 36px;
    font-weight: 100;
    clear: both;
}
#tmp_error {
    position: fixed;
    top: 4em;
    left: 50%;
    transform: translate(-50%, 0);
    width: 25em;
    height: 4em;
    background-color: white;
    z-index: 4;
    text-align: center;
    border: 2px solid grey;
    border-radius: 0.7em;
    overflow: hidden;
    animation: fade 1s 2s 1 forwards;
}
@keyframes fade {
    0% {opacity: 1;}
    100% {
        opacity: 0;
        top: -4em;
    }
}
#error_image {
    width: 3.75em;
    height: 3.75em;
    float: left;
    background-image: url('../../images/warning.png');
    background-position: center;
    background-size: 2.5em;
    background-repeat: no-repeat;
}
#error_text {
    position: relative;
    top: 50%;
    width: calc(100% - 2.5em);
    transform: translate(0, -50%);
}

/* IMPIEGATI */

#left_container, #right_container {
    width: calc(50% - 4.5em);
    float: left;
}
#left_container {
    margin-left: 3em;
    margin-right: 1.5em;
}
#right_container {
    margin-left: 1.5em;
    margin-right: 3em;
}
.div_impiegato {
    position: relative;
    width: 100%;
    height: 15em;
    background-color: white;
    overflow: hidden;
}
.imp_image {
    border: 1px solid #55bbff;
    border-right: none;
    border-bottom: none;
    float: left;
    width: 40%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imp_info {
    border: 1px solid #55bbff;
    float: left;
    width: 60%;
    height: 100%;
    padding: 1em 0;
    color: grey;
}
.imp_name, .imp_role, .imp_birth, .imp_mail {
    width: calc(100% - 3.5em);
    height: 25%;
    font-size: 1.3em;
}
.imp_name div, .imp_role div, .imp_birth div, .imp_mail div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 1.5em;
}
.imp_mail div a {
    font-size: 0.8em;
}
.more_info {
    border: 1px solid #55bbff;
    width: 100%;
    height: 1.5em;
    clear: both;
    color: white;
    font-size: 2em;
    text-align: center;
    background-color: #55bbff;  
    margin-bottom: 48px;
    transition: 0.5s;
}
.more_info div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.more_info:hover {
    text-decoration: underline;
    background-color: #33a3ff;
    cursor: pointer;
}
.check_control, #new_imp_control, #new_proj_control, #new_art_control, #new_off_control, .modify_control, .remove_control {
    display: none;
}
.magic {
    width: 100%;
    height: 0;
    display: block;
    background-color: #55bbff;
    transition: 0.5s;
}
.check_control:checked + label .magic {
    height: 9em;
    border-left: 1px solid #55bbff;
    border-right: 1px solid #55bbff;
    background-color: white;
}
.check_control:checked + label .imp_more {
    font-size: 1.2em;
    color: gray;
}
.check_control:checked + label .more_info {
    height: 0;
    font-size: 0;
    border-top: none;
}
.imp_more {
    width: 100%;
    height: 33.3%;
    color: white;
    font-size: 0;
    transition: 0.5s;
}
.imp_more div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 1.5em;
}

/* FORM DI INSERIMENTO */

#new_imp_btn, #new_proj_btn, #new_art_btn, #new_off_btn {
    margin-top: 5em;
    width: 3.5em;
    height: 3.5em;
    float: left;
    background-position: center;
    background-size: 2.5em;
    background-repeat: no-repeat;
    background-color: #55bbff;
}
#new_imp_btn {
    margin-left: 3em;
    background-image: url("../../images/add_user.png");
}
#new_proj_btn {
    margin-left: 1em;
    background-image: url("../../images/add_proj.png");
}
#new_art_btn {
    margin-left: 1em;
    background-image: url("../../images/add_article.png");
}
#new_off_btn {
    margin-left: 1em;
    background-image: url("../../images/add_offer.png");
}
#new_imp_control:checked ~ #new_imp_form_div, #new_proj_control:checked ~ #new_proj_form_div, #new_art_control:checked ~ #new_art_form_div, #new_off_control:checked ~ #new_off_form_div {
    left: 0;
}
#new_imp_control:checked + label, #new_proj_control:checked + label, #new_art_control:checked + label, #new_off_control:checked + label {
    position: fixed;
    top: 0;
    left: initial;
    right: 0;
    margin-top: 0;
    z-index: 3;
    background-image: url("../../images/close.png");
}
#new_imp_control:checked + label ~ #new_proj_btn {
    margin-left: 3em;
}

/* FORM DI MODIFICA */

.modify_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 3.5em;
    height: 3.5em;
    background-image: url("../../images/modify_user.png");
    background-position: center;
    background-size: 3em;
    background-repeat: no-repeat;
}
.modify_btn:hover, #new_imp_btn:hover, #new_proj_btn:hover, #new_art_btn:hover, #new_off_btn:hover {
    background-color: #33a3ff;
    cursor: pointer;
}
.modify_form_div, .remove_form_div, #new_imp_form_div, #new_proj_form_div, #new_art_form_div, #new_off_form_div {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #55bbff;
    transition: 0.5s;
    overflow-y: scroll;
}
.modify_form_div::-webkit-scrollbar, .remove_form_div::-webkit-scrollbar, #new_imp_form_div::-webkit-scrollbar, #new_proj_form_div::-webkit-scrollbar, #new_art_form_div::-webkit-scrollbar, #new_off_form_div::-webkit-scrollbar {
    display: none;
}
.modify_control:checked ~ .modify_form_div {
    left: 0;
}
.modify_control:checked + label {
    position: fixed;
    z-index: 3;
    background-image: url("../../images/close.png");
}
.modify_form, #new_imp_form, #new_proj_form, #new_art_form, #new_off_form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50em;
    height: 80%;
    min-height: 25em;
    background-color: #a1d9ff;
}
.identity {
    display: none;
}
.modify_personal_info, .modify_company_info, #new_imp_personal_info, #new_imp_company_info {
    border: none;
    width: 50%;
    height: calc(85% - 2em);
    float: left;
    color: grey;
    padding: 2.5em 2em;
    margin-top: 2em;
}
.modify_personal_info div, #new_imp_personal_info div {
    height: 12.5%;
}
.modify_personal_info input, #new_imp_personal_info input {
    width: 9em;
    float: right;
}
.file_select input {
    width: 14em;
}
.modify_company_info div, #new_imp_company_info div {
    height: 10%;
}
.submit_reset_div {
    width: 100%;
    height: calc(15% - 2em);
    clear: both;
    margin-bottom: 2em;
    text-align: center;
}
.submit_btn, .reset_btn {
    border: none;
    padding: 1em;
    font-size: 1em;
    color: white;
    background-color: #55bbff;
}
.reset_btn {
    margin-left: 2em;
}
.submit_btn:hover, .reset_btn:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #33a3ff; 
}

/* FORM DI RIMOZIONE */

.remove_btn {
    position: absolute;
    top: 3.5em;
    right: 0;
    width: 3.5em;
    height: 3.5em;
    background-image: url("../../images/remove_user.png");
    background-position: center;
    background-size: 3em;
    background-repeat: no-repeat;
}
.remove_btn:hover {
    background-color: #33a3ff;
    cursor: pointer;
}
.remove_control:checked ~ .remove_form_div {
    left: 0;
}
.remove_control:checked + label {
    position: fixed;
    top: 0;
    z-index: 3;
    background-image: url("../../images/close.png");
}
.remove_form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50em;
    height: 12.5em;
    background-color: #a1d9ff;
}
.remove_fieldset {
    border: none;
    float: left;
    width: 100%;
    height: calc(100% - 2em);
    margin-top: 2em;
    padding: 3em;
    color: grey;
    text-align: center;
}
.radio_choice {
    display: none;
}
.yes_no_div {
    width: 100%;
    text-align: center;
}
.yes_no_div label {
    float: center;
    padding: 1em;
    color: white;
    background-color: #55bbff;
    margin-right: 2em;
}
.yes_no_div label:hover, .apply_btn:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #33a3ff; 
}
.radio_choice:checked + label {
    border: 2px solid white;
    background-color: #33a3ff;
}
.apply_btn {
    border: none;
    position: absolute;
    bottom: 2em;
    right: 2em;
    padding: 1em;
    color: white;
    background-color: #55bbff;
}

/* PROGETTI */

.pro_select {
    display: none;
}
.project_label {
    display: block;
    width: calc(100% - 20em);
    margin: 0 10em;
}
.project_title {
    position: relative;
    padding: 1em 2em;
    color: white;
    background-color: #55bbff;
}
.project_title:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #33a3ff;
}
.modify_proj_form {
    width: 100%;
    height: 0;
    background-color: #83cdff;
    overflow: hidden;
    opacity: 0;
    transition: opacity 2s, height 0.5s;
}
.project_info {
    width: 100%;
    height: 80%;
}
.proj_form_btns {
    width: 100%;
    height: 20%;
    padding-top: 0.5em;
    text-align: center;
}
.pro_select:checked + label .modify_proj_form {
    height: 22em;
    border: 1px solid #55bbff;
    opacity: 1;
}
.pro_select:checked + label div .remove_proj_btn {
    display: block;
}
.project_img, .project_data, .new_proj_data, .new_proj_description {
    height: calc(100% - 2em);
    float: left;
    margin: 1em;
    color: grey;
}
.project_img {
    width: calc(35% - 2em);
}
.current_proj_img {
    width: 100%;
    height: 85%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.change_proj_img {
    font-size: 0.8em;
    height: 15%;
    padding-top: 0.5em;
}
.project_data {
    width: calc(40% - 2em);
}
.project_data div {
    width: 100%;
    height: 16.6%;
    padding: 0.4em;
}
.project_data div input[type="text"], .project_data div input[type="date"] {
    float: right;
    width: 40%;
    padding: 0.3em;
}
.project_data div label, .new_proj_data div label {
    float: right;
    padding-left: 0.5em;
}
.project_description {
    width: calc(25% - 2em);
    height: calc(100% - 2em);
    float: left;
    resize: none;
    margin: 1em;
    color: grey;
    line-height: 1.5em;
    font-size: 0.9em;
}
.remove_proj_btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 4em;
    height: 3.2em;
    background-image: url("../../images/remove.png");
    background-position: center;
    background-size: 2.2em;
    background-repeat: no-repeat;
}
.remove_proj_btn:hover {
    cursor: pointer;
    background-color: #008cff;
}
.new_proj_data {
    border: none;
    padding-top: 1.5em;
    width: calc(60% - 2em);
}
.new_proj_data div {
    width: 100%;
    height: 12.5%;
    padding: 0.5em;
}
.new_proj_description {
    width: calc(40% - 2em);
}
.new_proj_desc {
    width: 100%;
    height: calc(100% - 5em);
    margin-top: 2em;
    padding: 0.5em;
    resize: none;
    color: grey;
    line-height: 1.5em;
}
.new_proj_data div input[type="text"], .new_proj_data div input[type="date"], .new_proj_image {
    float: right;
    width: 50%;
    padding: 0.3em;
}

/* ARTICOLI */

#container_est_articles {
    margin-left: 3em;
    width: calc(100% - 3em);
}
.article_div {
    position: relative;
    width: calc(33.3% - 3em);
    height: 37.5em;
    float: left;
    margin: 0 3em 3em 0;
    min-width: 20em;
    background-color: #55bbff; 
    color: white;
}
@media screen and (min-width:720px) and (max-width:1170px) {
    .article_div {
        width: calc(50% - 3em);
    }
}
.article_image {
    position: relative;
    width: 100%;
    height: 35%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.change_art_img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3.5em;
    background-color: #83cdff;
    padding: 0.5em;
    font-size: 0.8em;
}
.article_info_div {
    width: calc(100% - 4em);
    height: 30%;
    float: left;
}
.article_info {
    width: 100%;
    height: 20%;
    padding: 0.5em;
}
.article_info div {
    float: right;
}
.modify_article_btn, .remove_article_btn {
    display: block;
    width: 4em;
    height: 3.5em;
    float: left;
    background-position: center;
    background-size: 2.2em;
    background-repeat: no-repeat;
    background-color: #55bbff;
}
.modify_article_btn {
    background-image: url('../../images/modify_article.png');
}
.remove_article_btn {
    margin-top: 0.5em;
    background-image: url('../../images/remove.png');
}
.modify_article_btn:hover, .remove_article_btn:hover {
    background-color: #33a3ff;
    cursor: pointer;
}
.article_text {
    width: 100%;
    height: calc(35% - 1em);
    padding: 0.5em;
    margin-bottom: 1em;
    overflow-y: scroll;
    line-height: 1.2em;
}
.article_text::-webkit-scrollbar {
    display: none;
}
.mod_art_control, .rem_art_control, .rem_off_control, .cand_off_control {
    display: none;
}
.mod_art_form, .rem_art_form, .rem_off_form, .cand_off_div {
    position: absolute;
    top: 0;
    background-color: #83cdff;
    color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    overflow: hidden;
    transition: 0.5s;
}
.mod_art_control:checked + label ~ .mod_art_form, .rem_art_control:checked + label ~ .rem_art_form, .rem_off_control:checked + label ~ .rem_off_form, .cand_off_control:checked + label ~ .cand_off_div {
    opacity: 1;
    z-index: 0;
}
.mod_art_control:checked + .modify_article_btn {
    position: absolute;
    right: 0;
    z-index: 1;
    background-image: url("../../images/close.png");
    background-size: 2.5em;
    background-color: #55bbff;
}
.rem_art_control:checked + .remove_article_btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    z-index: 1;
    background-image: url("../../images/close.png");
    background-size: 2.5em;
    background-color: #55bbff;
}
.mod_art_control:checked + .modify_article_btn:hover, .rem_art_control:checked + .remove_article_btn:hover {
    background-color: #33a3ff;
}
.article_info input {
    float: right;
    text-align: right;
}
.mod_art_form textarea {
    width: calc(100% - 1em);
    height: calc(35% - 1.5em);
    font-size: 1em;
    padding: 0;
    margin: 0.5em 0.5em 1em;
    resize: none;
}
.save_mod_art, .reset_mod_art {
    border: none;
    width: 4.75em;
    height: 3em;
    float: left;
    color: white;
    background-color: #55bbff;
}
.save_mod_art {
    margin-top: 4em;
}
.save_mod_art:hover, .reset_mod_art:hover, .rem_art_form_btn:hover {
    background-color: #33a3ff;
    cursor: pointer;
    text-decoration: underline;
}
.rem_art_form div {
    padding: 12em 1em 2em;
    text-align: center;
}
.rem_art_form_btn {
    display: block;
    border: none;
    padding: 0.7em;
    margin: auto;
    background-color: #55bbff;
    color: white;
}
.new_art_data, .new_off_data {
    border: none;
    width: 60%;
    height: calc(100% - 100px - 1em);
    margin-top: 1em;
    padding: 2.5em 1em 1em 1.5em;
    float: left;
    color: grey;
}
.new_art_info {
    width: 100%;
    height: 16%;
}
.new_art_info input {
    float: right;
    width: 9em;
    padding: 0.3em;
}
.new_art_info input[type='file'] {
    width: 14em;
}
.new_art_text_div, .new_off_mex_div {
    width: calc(40% - 2em);
    height: calc(100% - 100px - 2em);
    float: left;
    margin: 1em;
    color: grey;
}
.new_art_text, .new_off_mex {
    width: 100%;
    height: calc(100% - 3em);
    margin: 2em 0 1em;
    padding: 0.5em;
    resize: none;
    font-size: 1em;
    line-height: 1.2em;
}
.new_art_text::-webkit-scrollbar, .new_off_text::-webkit-scrollbar {
    display: none;
}
.new_proj_btns, .new_art_btns, .new_off_btns {
    width: 100%;
    height: 6em;
    clear: both;
    text-align: center;
    padding-top: 1em;
}

/* UTENTI */

#container_est_users {
    width: calc(100% - 3em);
    margin-left: 3em;
}
.user_div {
    position: relative;
    margin: 0 3em 3em 0;
    width: calc(25% - 3em);
    height: 12.5em;
    float: left;
    background-color: #55bbff;
    color: white;
    overflow: hidden;
}
.user_data {
    display: block;
    padding: 0.8em;
    height: 25%;
    overflow: hidden;
}
.user_div a:hover{
    color: white;
}
.mod_u_control, .rem_u_control {
    display: none;
}
.mod_u_label, .rem_u_label {
    position: absolute;
    right: 0;
    width: 3.5em;
    height: 3.5em;
    transition: top 0.5s;
    background-position: center;
    background-size: 2.5em;
    background-repeat: no-repeat;
}
.mod_u_label {
    top: -7em;
    background-image: url("../../images/modify_user.png");
}
.rem_u_label {
    top: -3.5em;
    background-image: url("../../images/remove_user.png");
}
.mod_u_label:hover, .rem_u_label:hover {
    cursor: pointer;
    background-color: #33a3ff;
}
.user_div:hover .mod_u_label {
    top: 0;
    height: 3.5em;
}
.user_div:hover .rem_u_label {
    top: 3.5em;
}
.mod_u_form, .rem_u_form {
    position: absolute;
    top: 0;
    background-color: #83cdff;
    width: 100%;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
}
.mod_u_control:checked + label ~ .mod_u_form, .rem_u_control:checked + label ~ .rem_u_form {
    height: 12.5em;
}
.mod_u_control:checked + .mod_u_label {
    top: 0;
    z-index: 1;
    background-image: url("../../images/close.png");
}
.mod_u_control:checked ~ .rem_u_label {
    z-index: -1;
}
.rem_u_control:checked + .rem_u_label {
    top: 0;
    z-index: 1;
    background-image: url("../../images/close.png");
}
.mod_u_form_data {
    width: calc(100% - 5.5em);
    margin: 1em;
}
.mod_u_form_btn {
    border: none;
    padding: 0.7em;
    margin: 1em 0 0 2em;
    background-color: #55bbff;
    color: white;
}
.mod_u_form_btn:hover {
    text-decoration: underline;
    cursor: pointer;
    background-color: #33a3ff;
}
.rem_u_form div {
    padding: 3.5em 1em 1em;
    text-align: center;
}

/* LAVORO */

.offer_div {
    border: 1px solid #55bbff;
    position: relative;
    width: 50em;
    height: auto;
    margin: auto;
    margin-bottom: 3em;
    background-color: #83cdff;
}
.mod_off_form {
    width: 100%;
    height: 15em;
    color: white;
    transition: 0.5s;
}
.mod_off_info, .mod_off_dates, .mod_off_mex {
    border: none;
    width: calc(33.3% - 33px);
    height: 100%;
    float: left;
}
.mod_off_info {
    border-right: 1px solid white;
}
.mod_off_mex {
    border-left: 1px solid white;
    padding: 0.5em 2em 1em 2em;
}
.mod_off_data {
    height: 33.3%;
    padding: 0.5em 1em;
}
.mod_off_data input, .mod_off_data select {
    display: block;
    margin-top: 0.8em;
    width: 80%;
    padding: 0.3em;
    color: grey;
}
.mod_off_dates legend {
    height: 2.5em;
    padding: 0.5em 1.5em;
}
.mod_off_dates div {
    height: calc(25% - 0.625em);
    padding: 0.5em 2em;
}
.mod_off_date {
    float: right;
    color: grey;
}
.mod_off_text {
    width: 100%;
    height: 85%;
    padding: 0.5em;
    margin-top: 1em;
    resize: none;
    color: grey;
}
.mod_off_btn, .rem_off_btn, .cand_off_btn {
    border: none;
    width: 89px;
    height: calc(25% - 20px);
    margin: 10px 10px 10px 0;
    float: left;
    background-color: #55bbff;
    color: white;
    font-size: 0.9em;
}
.rem_off_btn {
    position: absolute;
    right: 0;
    top: 50%;
}
.cand_off_btn {
    position: absolute;
    right: 0;
    top: 75%;
}
.rem_off_btn div, .cand_off_btn div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}
.mod_off_btn:hover, .rem_off_btn:hover, .rem_off_form_btn:hover, .cand_off_btn:hover {
    background-color: #33a3ff;
    text-decoration: underline;
    cursor: pointer;
}
.rem_off_form div {
    padding: 5em 0 3em;
    text-align: center;
}
.rem_off_form_btn {
    display: block;
    border: none;
    padding: 1em;
    margin: auto;
    background-color: #55bbff;
    color: white;
}
.rem_off_control:checked + .rem_off_btn, .cand_off_control:checked + .cand_off_btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin: 0;
    width: 3.5em;
    height: 3.5em;
    background-image: url("../../images/close.png");
    background-position: center;
    background-size: 2.5em;
    background-repeat: no-repeat;
    color: transparent;
}
.rem_off_control:checked ~ .cand_off_btn {
    z-index: -1;
}
.cand_off_control:checked ~ .mod_off_form {
    height: 31em;
}
.cand_off_div {
    overflow-y: scroll;
}
.cand_div {
    width: 21em;
    height: 12.5em;
    margin-top: 2em;
    margin-left: 2em;
    float: left;
    background-color: white;
    border: 1px solid #55bbff;
    overflow-y: scroll;
}
.cand_div::-webkit-scrollbar {
    display: none;
}
.cand_personal_info, .cand_general_info {
    height: 100%;
    float: left;
    color: grey;
    font-size: 0.9em;
}
.cand_personal_info {
    width: 40%;
    padding: 0.5em;
}
.cand_general_info {
    width: 60%;
    padding: 0.5em 1em;
    border-left: 1px solid #83cdff;
}
.new_off_info {
    width: 100%;
    height: 14.2%;
}
.new_off_info input, .new_off_info select {
    float: right;
    width: 9em;
    padding: 0.3em;
}