* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
    background-image: url("../../images/admin_background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* NAVIGATION */

#nav {
    width: 130px;
    height: 100%;
    position: fixed;
	background-color: #0099ffa8;
}
.nav_link {
    width: 100%;
    height: 16.6%;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.nav_link div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.nav_link:hover {
    text-decoration: underline;
    background-color: #008cff7a;
}

/* PARTI IN COMUNE */

.container_est {
    width: calc(100% - 130px);
    display: table;
    margin-left: 130px;
}
.header {
    width: calc(100% - 130px);
    margin-left: 130px;
    padding: 2em 0em;
    color: #0077ff;
    text-align: center;
    clear: both;
}

/* IMPIEGATI */

#left_container, #right_container {
    width: calc(50% - 60px);
    float: left;
}
#left_container {
    margin-left: 40px;
    margin-right: 20px;
}
#right_container {
    margin-left: 20px;
    margin-right: 40px;
}
.div_impiegato {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #0099ffa8;
    overflow: hidden;
}
.imp_image {
    border: 1px solid #0099ffa8;
    border-bottom: none;
    float: left;
    width: 40%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imp_info {
    float: left;
    width: 60%;
    height: 100%;
}
.imp_name, .imp_role, .imp_birth, .imp_mail {
    width: calc(100% - 60px);
    height: 25%;
    color: white;
    font-size: 1.3em;
}
.imp_name div, .imp_role div, .imp_birth div, .imp_mail div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 1.5em;
}
.imp_mail div a {
    color: white;
}
.more_info {
    border: 1px solid #0099ffa8;
    width: 100%;
    height: 50px;
    clear: both;
    color: white;
    font-size: 2em;
    text-align: center;
    background-color: #0099ffa8;  
    margin-bottom: 30px;
    transition: 0.5s;
}
.more_info div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
.more_info:hover {
    text-decoration: underline;
    background-color: #008cff7a;
    cursor: pointer;
}
.check_control, #new_imp_control, #new_proj_control, .modify_control, .remove_control {
    display: none;
}
.magic {
    width: 100%;
    height: 0;
    display: block;
    background-color: #0099ffa8;
    transition: 0.5s;
}
.check_control:checked + label .magic {
    height: 150px;
    border-top: 1px solid #0099ffa8;
}
.check_control:checked + label .imp_more {
    font-size: 1.2em;
}
.check_control:checked + label .more_info {
    height: 0;
    font-size: 0;
    border-top: none;
}
.imp_more {
    width: 100%;
    height: 33.3%;
    color: white;
    font-size: 0;
    transition: 0.5s;
}
.imp_more div {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 1.5em;
}

/* FORM DI INSERIMENTO */

#new_imp_btn, #new_proj_btn {
    margin-top: 1em;
    width: 60px;
    height: 60px;
    float: left;
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
    background-color: #0099ffa8;
}
#new_imp_btn {
    margin-left: 170px;
    background-image: url("../../images/add_user.png");
}
#new_proj_btn {
    margin-left: 10px;
    background-image: url("../../images/add_proj.png");
}
#new_imp_control:checked ~ #new_imp_form_div, #new_proj_control:checked ~ #new_proj_form_div {
    left: 0;
}
#new_imp_control:checked + label, #new_proj_control:checked + label {
    position: fixed;
    top: 0;
    left: initial;
    right: 0;
    margin-top: 0;
    z-index: 2;
    background-image: url("../../images/close.png");
}

/* FORM DI MODIFICA */

.modify_btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-image: url("../../images/modify_user.png");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.modify_btn:hover, #new_imp_btn:hover, #new_proj_btn:hover {
    background-color: #008cff7a;
    cursor: pointer;
}
.modify_form_div, .remove_form_div, #new_imp_form_div, #new_proj_form_div {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #0099ffa8;
    transition: 0.5s;
}
.modify_control:checked ~ .modify_form_div {
    left: 0;
}
.modify_control:checked + label {
    position: fixed;
    z-index: 2;
    background-image: url("../../images/close.png");
}
.modify_form, #new_imp_form, #new_proj_form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 80%;
    background-color: #a1d9ff;
}
.identity {
    display: none;
}
.modify_personal_info, .modify_company_info, #new_imp_personal_info, #new_imp_company_info {
    border: none;
    width: 50%;
    height: calc(85% - 2em);
    float: left;
    color: #696969;
    padding: 2.5em 2em;
    margin-top: 2em;
}
.modify_personal_info div, #new_imp_personal_info div {
    height: 12.5%;
}
.modify_personal_info input, #new_imp_personal_info input {
    width: 150px;
    float: right;
}
.file_select input {
    width: 220px;
}
.modify_company_info div, #new_imp_company_info div {
    height: 10%;
}
.submit_reset_div {
    width: 100%;
    height: calc(15% - 2em);
    clear: both;
    margin-bottom: 2em;
    text-align: center;
}
.submit_btn, .reset_btn {
    border: none;
    outline: none;
    padding: 1em;
    font-size: 1em;
    color: white;
    background-color: #0099ffa8;
}
.reset_btn {
    margin-left: 2em;
}
.submit_btn:hover, .reset_btn:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #0077ff; 
}

/* FORM DI RIMOZIONE */

.remove_btn {
    position: absolute;
    top: 60px;
    right: 0;
    width: 60px;
    height: 60px;
    background-image: url("../../images/remove_user.png");
    background-position: center;
    background-size: 50px;
    background-repeat: no-repeat;
}
.remove_btn:hover {
    background-color: #008cff7a;
    cursor: pointer;
}
.remove_control:checked ~ .remove_form_div {
    left: 0;
}
.remove_control:checked + label {
    position: fixed;
    top: 0;
    z-index: 2;
    background-image: url("../../images/close.png");
}
.remove_form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 200px;
    background-color: #a1d9ff;
}
.remove_fieldset {
    border: none;
    float: left;
    width: 100%;
    height: calc(100% - 2em);
    margin-top: 2em;
    padding: 3em;
    color: #696969;
    text-align: center;
}
.radio_choice {
    display: none;
}
.yes_no_div {
    width: 100%;
    text-align: center;
}
.yes_no_div label {
    float: center;
    padding: 1em;
    color: white;
    background-color: #0099ffa8;
    margin-right: 2em;
}
.yes_no_div label:hover, .apply_btn:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #0077ff; 
}
.radio_choice:checked + label {
    border: 2px solid white;
    background-color: #0077ff;
}
.apply_btn {
    border: none;
    outline: none;
    position: absolute;
    bottom: 2em;
    right: 2em;
    padding: 1em;
    color: white;
    background-color: #0099ffa8;
}

/* PROGETTI */

.pro_select {
    display: none;
}
.project_label {
    display: block;
    width: calc(100% - 80px);
    margin: 0 40px;
}
.project_title {
    position: relative;
    padding: 1em 2em;
    color: white;
    background-color: #0099ffa8;
}
.project_title:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #2ba0ff;
}
.modify_proj_form {
    width: 100%;
    height: 0;
    background-color: #83cdff;
    transition: 0.5s;
    overflow: hidden;
}
.project_info {
    width: 100%;
    height: 80%;
}
.proj_form_btns {
    width: 100%;
    height: 20%;
    padding-top: 0.5em;
    text-align: center;
}
.pro_select:checked + label .modify_proj_form {
    height: 350px;
    border: 1px solid #0099ffa8;
}
.pro_select:checked + label div .remove_proj_btn {
    display: block;
}
.project_img, .project_data, .new_proj_data, .new_proj_description {
    height: calc(100% - 2em);
    float: left;
    margin: 1em;
    color: #696969;
    font-size: 1.1em;
}
.project_img {
    width: calc(35% - 2em);
}
.current_proj_img {
    width: 100%;
    height: 85%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.change_proj_img {
    font-size: 0.8em;
    height: 15%;
    padding-top: 0.5em;
}
.project_data {
    width: calc(40% - 2em);
}
.project_data div {
    width: 100%;
    height: 20%;
    padding: 0.5em;
}
.project_data div input[type="text"] {
    float: right;
    width: 40%;
    padding: 0.4em;
}
.project_data div label, .new_proj_data div label {
    float: right;
    padding-left: 0.5em;
}
.project_description {
    width: calc(25% - 2em);
    height: calc(100% - 2em);
    float: left;
    resize: none;
    margin: 1em;
    color: #696969;
    line-height: 1.5em;
    font-size: 0.9em;
}
.remove_proj_btn {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 50px;
    background-image: url("../../images/remove.png");
    background-position: center;
    background-size: 35px;
    background-repeat: no-repeat;
}
.remove_proj_btn:hover {
    cursor: pointer;
    border: 2px solid white;
}
.new_proj_data {
    width: calc(60% - 2em);
}
.new_proj_data div {
    width: 100%;
    height: 14.2%;
    padding: 0.5em;
}
.new_proj_description {
    width: calc(40% - 2em);
}
.new_proj_desc {
    width: 100%;
    height: calc(100% - 5em);
    margin-top: 2em;
    resize: none;
    color: #696969;
    line-height: 1.5em;
}
.new_proj_data div input[type="text"], .new_proj_image {
    float: right;
    width: 50%;
    padding: 0.4em;
}

/* FORM DI INSERIMENTO */

/* ARTICOLI */

/* UTENTI */

/* LAVORO */