@import url("../navbar_desktop.css");

#work{
    background-color: #33a3ff;
}

#back_link {
    margin-top: 50px;
    position: absolute;
    left: 20px;
    top: 20px;
    text-decoration: none;
    padding: 1em;
    color: white;
    background-color: #0084ff;
}
#back_link:hover{
    text-decoration: underline;
}
.title{
    font-weight: 100;
    padding-top: 80px;
    padding-bottom: 40px;
    color: rgba(0, 73, 169, 0.888);
    text-align: center;
    font-size: 32px;
    width: 90%;
    margin: auto;
    
}
.label_offer{
    display: table;
    width: 800px;
    margin: auto;
    
}
.divisor{
    display: block;
    width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid  #008cff3d;
   
}
.div_img_offer{
    width: 20%;
    min-height: 150px;
    padding: 15px;
    float: left;
    overflow: hidden;
   
}
.div_information{
    min-height: 150px;
    width: 80%;
    float: left;    
}
.text{
    font-size: 14px;
}
.img_offer{
    width: 100%;
}


input[type="checkbox"]{

    display: none;
}


.identity{
    display:none;
}

/*PRENOTAZIONI*/

#container_prenotazioni{
    display: table;
    border: 1px solid gray;
    font-size: 14px;
    position: absolute;
    margin-top: 50px;
    padding-left: 40px;
}
#subsub{
    
    font-size: 1em;
    float: right;
    clear: both;
    cursor: pointer;
    border: none;
    padding: 0.8em 2.2em;
    color: white;
    background-color: rgb(208, 234, 255);
    background-image: url("../../images/remove.png");
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat; 
    transition: 0.5s;
}
#subsub:hover {
    background-color: rgb(160, 214, 255);
}

