@import url("../navbar_desktop.css");

#work{
    background-color: #33a3ff;
}

#back_link {
    margin-top: 3.12em;
    position: absolute;
    left: 1.25em;
    top: 1.25em;
    text-decoration: none;
    padding: 1em;
    color: white;
    background-color: #01346e;
}
#back_link:hover, #back_link:focus{
    text-decoration: underline;
    background-color: #33a3ff;
}
.title{
    font-weight: 100;
    padding-top: 5em;
    padding-bottom: 2.5em;
    color: #1551a0;
    text-align: center;
    font-size: 2em;
    width: 90%;
    margin: auto;
    
}
.label_offer{
    display: table;
    width: 50em;
    margin: auto;
    
}
.divisor{
    display: block;
    width: 50em;
    margin: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-top: 1px solid  #a1d9ff;
   
}
.div_img_offer{
    width: 20%;
    min-height: 9.4em;
    padding: 1em;
    float: left;
    overflow: hidden;
   
}
.div_information{
    min-height: 9.4em;
    width: 80%;
    float: left;    
}
.text{
    font-size: 0.9em;
}
.img_offer{
    width: 100%;
    text-align: center;
}


input[type="checkbox"]{

    display: none;
}


.identity{
    display:none;
}

/*PRENOTAZIONI*/

#container_prenotazioni{
    display: table;
    border: 1px solid grey;
    font-size: 0.9em;
    position: absolute;
    margin-top: 3.12em;
    padding-left: 2.5em;
}
#subsub{
    
    font-size: 1em;
    float: right;
    clear: both;
    cursor: pointer;
    border: none;
    padding: 0.8em 2.2em;
    color: white;
    background-color: #01346e;
    background-image: url("../../images/remove.png");
    background-position: center;
    background-size: 2em;
    background-repeat: no-repeat; 
    transition: 0.5s;
}
#subsub:hover, #subsub:focus{
    background-color: #33a3ff;
}

