@import url("../navbar_mobile.css");

#work{
    color: white;
    text-decoration: none;
}

#back_link:hover, #back_link:focus{
    background-color: #33a3ff;
}
#back_link {

    float: left;
    margin-left: 1.25em;
    margin-top: 4.4em;
    padding: 0.6em;
    color: white;
    background-color: #01346e;

}
.title{
    clear: both;
    font-weight: 100;
    padding-bottom: 2.5em;
    color: #1551a0;
    text-align: center;
    font-size: 1.74em;
    width: 90%;
    margin: auto;
}
.label_offer{
    display: table;
    width: 90%;
    margin: auto;
    
    
}
.divisor{
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-top: 1px solid #a1d9ff;
   
}
.div_img_offer{
    width: 20%;
    min-height: 7.5em;
    padding: 1em;
    float: left;
    overflow: hidden;
   
}
.div_information{
    min-height: 7.5em;
    width: 80%;
    float: left;    
}
.text{
    font-size: 0.8em;
}
.img_offer{
    width: 100%;
    text-align: center;
}


input[type="checkbox"]{

    display: none;
}
.form_offer {
    height: 0;
    opacity: 0;
    transition: 0.8s;
    width: 43.75em;
    margin: auto;
    overflow: hidden;

}
.pro_select:checked + label .form_offer{
    height: 15em;
    background-color: #e1f5ff;
    opacity: 1;
}

.div_container_form{
    
    width: 40.65em;
    display: table;
    font-size: 0.9em;
    margin: auto;
    margin-top: 0.6em;
}
.general_informations{
    width: 18.75em;
    float: left;

}
.in_form{
    width: 11.25em;
    float: right;
}
.container_radio{
    float: right;
}
.div_genre{
    width: 100%;

    
}
.textmessage{
    float: right;
    resize:none;
    width: 50%;
}

.identity{
    display:none;
}
.select{
    background-color: red;
}
/*PRENOTAZIONI*/

#container_prenotazioni{
    display: table;
    border: 1px solid grey;
    font-size: 0.9em;
    float: right;
    margin-top: 3.12em;
    padding-left: 2.5em;
}
#subsub{
    
    font-size: 1em;
    float: right;
    clear: both;
    cursor: pointer;
    border: none;
    padding: 0.6em 1.8em;
    color: white;
    background-color: #01346e;
    background-image: url("../../images/remove.png");
    background-position: center;
    background-size: 1.25em;
    background-repeat: no-repeat; 
    transition: 0.5s;
}
#subsub:hover, #subsub:focus{
    background-color: #33a3ff;
}