@import url("../navbar_tablet.css");

.nascosto{
    display: none;
}
#back_link:hover{
    text-decoration: underline;
}
#back_link {
    margin-top: 3.12em;
    position: absolute;
    left: 1.25em;
    top: 1.25em;
    text-decoration: none;
    padding: 1em;
    color: white;
    background-color: #0084ff;
}
.title{
    font-weight: 100;
    padding-top: 5em;
    padding-bottom: 2.5em;
    color: rgba(0, 73, 169, 0.888);
    text-align: center;
    font-size: 2em;
    width: 90%;
    margin: auto;
    
}
.label_offer{
    display: table;
    width: 37.5em;
    margin: auto;
    
}
.divisor{
    display: block;
    width: 37.5em;
    margin: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-top: 1px solid  #008cff3d;
   
}
.div_img_offer{
    width: 20%;
    min-height: 9.4em;
    padding: 1em;
    float: left;
    overflow: hidden;
   
}
.div_information{
    min-height: 9.4em;
    width: 80%;
    float: left;    
}
.text{
    font-size: 0.9em;
}
.img_offer{
    width: 100%;
}


input[type="checkbox"]{

    display: none;
}
.form_offer {
    height: 0;
    opacity: 0;
    transition: 0.8s;
    width: 43.75em;
    margin: auto;
    overflow: hidden;

}
.pro_select:checked + label .form_offer{
    height: 15em;
    background-color: #e1f5ff;
    opacity: 1;
}

.div_container_form{
    
    width: 40.65em;
    display: table;
    font-size: 0.9em;
    margin: auto;
    margin-top: 0.6em;
}
.general_informations{
    width: 18.75em;
    float: left;

}
.in_form{
    width: 11.25em;
    float: right;
}
.container_radio{
    float: right;
}
.div_genre{
    width: 100%;

    
}
.textmessage{
    float: right;
    resize:none;
    width: 50%;
}
.submit{
    float: right;
    clear: both;
}
.identity{
    display:none;
}
.select{
    background-color: red;
}
/*PRENOTAZIONI*/

#container_prenotazioni{
    display: table;
    border: 1px solid gray;
    font-size: 0.9em;
    position: absolute;
    margin-top: 3.12em;
    padding-left: 2.5em;
}
#subsub{
    
    font-size: 1em;
    float: right;
    clear: both;
    cursor: pointer;
    border: none;
    padding: 0.6em 1.8em;
    color: white;
    background-color: rgb(208, 234, 255);
    background-image: url("../../images/remove.png");
    background-position: center;
    background-size: 1.25em;
    background-repeat: no-repeat; 
    transition: 0.5s;
}
#subsub:hover {
    background-color: rgb(160, 214, 255);
}