@import url("../navbar_mobile.css");
.nascosto{
    display: none;
}

/*MESSAGES*/

input[type="checkbox"]{
    display: none;
}
.cont_both{
    z-index: 1;
    
}
.div_close{
    z-index: 1;
    position: fixed;
    background-color: rgb(134, 189, 247);
    color: white;
    right: 1em;
    margin-top: 3.75em;
    height: 2.5em;
    width: 1.2em;
    text-align: center;
    cursor: pointer;
}
.div_close_2{
    z-index: 1;
    position: fixed;
    background-color: rgb(134, 189, 247);
    color: white;
    right: 1em;
    margin-top: 6.8em;
    height: 2.5em;
    width: 1.2em;
    text-align: center;
    cursor: pointer;
}
.label_close{
    transition: 1s ease;
}

.textc{
   
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.cont_message{
    z-index: 1;
    margin-top: 3.75em; 
    position: fixed;
    background-color: rgb(134, 189, 247);
    color: white;
    right: 2.2em;
    transition: 1s ease;
    height: 2.5em;
    padding: 0.6em;
}
.cont_message_2{
    z-index: 1;
    margin-top: 6.8em; 
    position: fixed;
    background-color: rgb(134, 189, 247);
    color: white;
    right: 2.2em;
    transition: 1s ease;
    height: 2.5em;
    padding: 0.6em;
}
.div_close:hover{
    color: rgba(48, 89, 138, 0.611);
    cursor: pointer;
}
.div_close_2:hover{
    color: rgba(48, 89, 138, 0.611);
    cursor: pointer;
}
.pro_close:checked + label + .cont_message{
    opacity: 0;
    visibility: hidden;
}
.pro_close:checked + label + .cont_message_2{
    opacity: 0;
    visibility: hidden;
}
.pro_close:checked +label{
    opacity: 0;
    visibility: hidden;
}





/*THREE DIV*/







#div_one{
 
    width: 100%;
    height: 10em;
    background-color: rgb(241, 245, 250);
}
#img_logo{
    position: relative;
    height: 7em;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#cont_three{
    position: relative;
    width: 100%;
    height: 52.8em;
    margin: auto;
    overflow: hidden;
}
.div_group{
    display: table;
    margin: auto;
    margin-top: 1.25em;
    height: 15em;
    width: 80%;
    text-decoration: none;
    transition: 0.8s ease;
    border: 1px solid rgb(172, 212, 245);
    box-shadow: 2px 5px 5px #888888;
}
.div_group:hover{
    box-shadow: 5px 10px 18px #888888;
    
}

.div_title_group{
    background-color: #55bbff;
    position: relative;
    height: 2.5em;
    width: 100%;
    margin: auto;
   
}
.title_div{
    text-align: center;
    padding: 0.3em;
    font-size: 1.25em;
    color: white;
    text-decoration: underline;
}
.div_container_img{
    position: relative;
    width: 100%;
    height: 12.5em;
    overflow: hidden;
    margin: auto;
}

.div_container_img img{
    transition: .8s ease;
    position: absolute;
    width: 105%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#img_offer{
    width: 12.5em;
}
.div_overlay{
    position: relative;
    transition: .8s ease;
    opacity: 0;
    width: 100%;
    height: calc(100% - 40px);
}

.div_group:hover .div_overlay{
    opacity: 1;
} 
.div_group:hover .div_container_img img{
    opacity: 0.5;
    width: 100%;
} 
.div_group:hover .title_div{
    text-decoration: underline;
    
}
.div_text_inside_group{
    position: relative;
    color: rgb(98, 105, 146);
    display: table;
    left: 50%;
    top:50%;
    font-size: 1.2em;
    transform: translate(-50%,-50%);
}

/*SLOGAN*/

#giu_link{
    
    display: none;
   
}





#div_container_img_slogan{
    background-image: url("../../images/yellow-hat.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300%;
    width: 100%;
    height: 15.6em;
    clear: both;
}
#div_slogan{
    width: 100%;
    min-height: 25em;
 
    padding: 0.6em;
    background-color: rgb(241, 245, 250);
    
}
#div_text_slogan{
    padding-top: 4.3em;
    display: table;
    text-align: center;
    color: rgb(29, 42, 116);
    font-size: 1em;

}
#div_text_slogan2 br{
    display: none;
}
.sp{
    background-color: rgb(230, 244, 255);
    border-radius: 5px 5px 5px 5px;
    padding: 0.2em;
}

.hr{
    border-top: 0px;
    margin: 1.25em;
    width: 90%;
    border-bottom: 1px solid rgb(162, 198, 247);
   
}




/*STORIA*/










#h1_storia{
    font-weight: 100;
    padding: 1.25em;
    width: 100%;
    height: 4.3em;
    font-size: 2em;
    display: table;
    text-align: center;
    color: rgb(5, 82, 184);
}
.link_generico{
    text-decoration-color: blue;
    color: rgb(8, 8, 136);
}
#div_storia{
    
    
    width: 100%;
    
    
}

#div_img_storia{
    height: 15.6em;
    background-image: url("../../images/building.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 160%;
}
#div_button_storia{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
#div_scopri{
    text-decoration: underline;
    text-decoration-color: white;
    width: 9.4em;
    height: 2.5em;
    background-color: rgb(145, 192, 254);
    text-align: center;
    padding: 0.6em;
    margin: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;  
}

#div_container_storia{
    min-height: 0px;
    width: 100%;
}
#div_text_storia{
    width: 80%;
    margin: auto;
    color: rgb(98, 105, 146);
    text-align: center;
    
}


#div_button_storia:hover{
    text-decoration: underline;

}






