@import url("../navbar_tablet.css");
.nascosto{
    display: none;
}

/*MESSAGES*/

input[type="checkbox"]{
    display: none;
}
.cont_both{
    z-index: 1;
    
}
.div_close{
    z-index: 1;
    position: fixed;
    background-color: #86bdf7;
    color: white;
    right: 1em;
    margin-top: 3.75em;
    height: 2.5em;
    width: 1.2em;
    text-align: center;
    cursor: pointer;
}
.div_close_2{
    z-index: 1;
    position: fixed;
    background-color: #86bdf7;
    color: white;
    right: 1em;
    margin-top: 6.9em;
    height: 2.5em;
    width: 1.2em;
    text-align: center;
    cursor: pointer;
}
.label_close{
    transition: 1s ease;
}

.textc{
   
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.cont_message{
    z-index: 1;
    margin-top: 3.75em; 
    position: fixed;
    background-color: #86bdf7;
    color: white;
    right: 2.2em;
    transition: 1s ease;
    height: 2.5em;
    padding: 0.6em;
}
.cont_message_2{
    z-index: 1;
    margin-top: 6.9em; 
    position: fixed;
    background-color: #86bdf7;
    color: white;
    right: 2.2em;
    transition: 1s ease;
    height: 2.5em;
    padding: 0.6em;
}
.div_close:hover{
    color: #1551a0;
    cursor: pointer;
}
.div_close_2:hover{
    color: #1551a0;
    cursor: pointer;
}
.pro_close:checked + label + .cont_message{
    opacity: 0;
    visibility: hidden;
}
.pro_close:checked + label + .cont_message_2{
    opacity: 0;
    visibility: hidden;
}
.pro_close:checked +label{
    opacity: 0;
    visibility: hidden;
}





/*THREE DIV*/



#cont_three{
    margin: auto;
    width: 45em;
    height: 19.4em;
    padding: 1.25em; 
}
.contprimo{
    width: 33.3%;
    float: left;

    text-align: center;
}

.contgiu{
    width: 100%;
    height: 5em;
}
#giu_link{
    clear: both;
    padding: 0.3em;
    width: 5em;
    height: 3.75em;
    text-align: center;

    margin: auto;
    
}
#agiu img{
    height: 100%;
    transition: 0.5s;

}
#agiu{
    height: 100%;
    
}
#agiu:hover img{
    height: 110%;
}


#div_one{
    
    width: 100%;
    height: 10em;
    background-color: rgb(241, 245, 250);
}
#img_logo{
    position: relative;
    height: 7em;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.div_group{
    display: table;
    margin: auto;
    height: 17.5em;
    width: 13.15em;
    text-decoration: none;
    transition: 0.8s ease;
    border: 1px solid rgb(172, 212, 245);
    box-shadow: 2px 5px 5px #888888;
}
.div_group:hover{
    box-shadow: 5px 10px 18px #888888;
    
}

.div_title_group{
    background-color: #0099ffa8;
    position: relative;
    height: 2.5em;
    width: 100%;
   
}
.div_title_group{
    background-color: #55bbff;
    
    height: 2.5em;
    width: 100%;
   
}
.contprimo{
    width: 33.3%;
    height: 17.5em;
    float: left;
    text-align: center;
}

.title_div{
    text-align: center;
    padding: 0.3em;
    font-size: 1.25em;
    color: white;
    text-decoration: underline;
}
.div_container_img{
    position: relative;
    width: 100%;
    height: 15em;
    overflow: hidden;
    
}

.div_container_img img{
    transition: .8s ease;
    position: absolute;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#img_offer{
    height: 50%;
}
.div_overlay{
    position: relative;
    transition: .8s ease;
    opacity: 0;
    width: 100%;
    height: calc(100% - 40px);
}
.div_group:hover .div_overlay{
    opacity: 1;
} 
.div_group:hover .div_container_img img{
    opacity: 0.5;
    height: 105%;
} 
.div_group:hover .title_div{
    text-decoration: underline;
    
}
.div_text_inside_group{
    position: relative;
    color: rgb(98, 105, 146);
    display: table;
    left: 50%;
    top:50%;
    font-size: 1.2em;
    transform: translate(-50%,-50%);
}

/*SLOGAN*/






#div_container_img_slogan{
    background-image: url("../../images/yellow-hat.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 180%;
    width: 100%;
    height: 18.75em;
}
#div_slogan{
    width: 100%;
    height: 25em;
    background-color: rgb(241, 245, 250);
}
#div_text_slogan{
    position: relative;
    left: 48%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: table;
    text-align: center;
    color: rgb(29, 42, 116);
    font-size: 1.25em;

}
.hr{
    border-top: 0px;
    margin: 1.25em;
    width: 100%;
    border-bottom: 1px solid rgb(162, 198, 247);
   
}




/*STORIA*/










#h1_storia{
    font-weight: 100;
    padding: 1.25em;
    width: 100%;
    height: 4.4em;
    font-size: 2em;
    display: table;
    text-align: center;
    color: rgb(5, 82, 184);
}
.link_generico{
    text-decoration-color: blue;
    color: rgb(8, 8, 136);
}
#div_storia{
    
    float: left;
    width: 50%;
    height: 62em;
    
}
#div_button_storia{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
#div_scopri{
    text-decoration: underline;
    text-decoration-color: white;
    width: 9.4em;
    height: 2.5em;
    background-color: rgb(145, 192, 254);
    text-align: center;
    padding: 0.6em;
    margin: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;  
}


#div_container_storia{
    height: 62em;
    width: 100%;
}
#div_text_storia{
    
    width: 18.75em;
    margin: auto;
    color: rgb(98, 105, 146);
    
}
.sp{
    background-color: rgb(230, 244, 255);
    border-radius: 5px 5px 5px 5px;
    padding: 0.2em;
}
#div_img_storia{
    
    float: left;
    background-image: url("../../images/building.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140%;
    width: 50%;
    height: 65em;
 
}

#div_button_storia:hover {
    text-decoration: underline;

}









