@import url("../navbar_desktop.css");

#navbar_bottom_padding {
    width: 100%;
    height: 7em;
}
.view {
    border: none;
    outline: none;
    float: left;
    margin-left: 2em;
    padding: 1em;
    font-size: 1em;
    color: white;
    background-color: #0099ffa8;
}
.view:hover {
    cursor: pointer;
    text-decoration: underline;
}
#header1 {
    padding: 0em 2em 2em;
    color: #0077ff;
    text-align: center;
}
#header2 {
    padding: 2em 2em;
    color: #0077ff;
    text-align: center;
    clear: both;
}
.project {
    position: relative;
    width: calc(25% - 1em);
    height: 200px;
    float: left;
    overflow: hidden;
    margin: 0.4em 0.5em;
}
.pr_image {
    position: relative;
    width: 400px;
    height: auto;
    top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}
.pr_name {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-color: #0099ffa8;
}
.pr_name div {
    position: relative;
    top: 30%;
    text-align: center;
    color: white;
    font-weight: bold;
}
.project:hover .pr_image {
    width: 450px;
    opacity: 0.7;
}
.project:hover .pr_name div {
    text-decoration: underline;
}