@import url("../navbar_mobile.css");

#menu_bt2{
    color: white;
    text-decoration: none;
}
#navbar_bottom_padding {
    width: 100%;
    height: 5em;
}
.view_control {
    display: none;
}
.view {
    position: absolute;
    float: left;
    padding: 1em;
    margin-top: 0em;
    font-size: 1em;
    color: white;
    text-decoration: underline;
    background-color: #01346e;
    z-index: 1;
}
#grid_view {
    left: 30%;
}
#list_view {
    left: calc(30% + 6em);
}
.view:hover, .view:focus {
    cursor: pointer;
    background-color: #33a3ff;
}
#grid_control:checked + label ~ #container_grid, #list_control:checked + label ~ #container_list {
    display: block;
}
#grid_control:checked + label, #list_control:checked + label {
    background-color: #33a3ff;
}
#container_grid, #container_list {
    position: relative;
    width: 100%;
    height: auto;
    display: none;
}
#incorso, #incorso2 {
    font-weight: 100;
    padding: 3em 0em 1em;
    color: #1551a0;
    text-align: center;
    font-size: 30px;
}
#terminati, #terminati2 {
    font-weight: 100;
    padding: 2em 0em 1em;
    color: #1551a0;
    text-align: center;
    font-size: 30px;
    clear: both;
}
#search_label {
    position: absolute;
    float: left;
    z-index: 1;
    margin-top: 1em;
    left: calc(30% + 12em);
}
#search_label:hover, #search_label:focus {
    cursor: pointer;
}
#text_search {
    width: 180px;
    border: 1px solid #01346e;
    padding: 0.3em;
    color: grey;
    font-size: 1em;
    background-color: #daefff;
}

/* GRIGLIA */

.grid_project {
    position: relative;
    width: calc(33.3% - 1em);
    height: 200px;
    float: left;
    overflow: hidden;
    margin: 0.4em 0.5em;
}
.grid_pr_image {
    position: relative;
    width: 400px;
    height: auto;
    top: 50%;
	left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}
.grid_pr_name_div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25%;
    background-color: #01346e;
}
.grid_pr_location {
    display: none;
}
.grid_pr_name {
    position: relative;
    top: 50%;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    transform: translate(0, -50%);
}
.grid_project:hover .grid_pr_image, .grid_project:focus .grid_pr_image {
    width: 450px;
    opacity: 0.7;
}
.grid_project:hover .grid_pr_name_div, .grid_project:focus .grid_pr_name_div {
    background-color: #33a3ff;
}

/* LISTA */

.list_project {
    width: calc(100% - 8em);
    height: 100px;
    margin: auto;
    margin-bottom: 1em;
    overflow: hidden;
}
.list_pr_image {
    position: relative;
    width: 150px;
    height: 100%;
    float: left;
    overflow: hidden;
}
.list_pr_image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transition: 0.5s;
    transform: translate(-50%, -50%);
}
.list_pr_name_a {
    width: calc(100% - 150px);
    height: 100%;
    float: left;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-color: #01346e;
}
.list_pr_name_a div {
    text-decoration: underline;
}
.list_pr_name, .list_pr_location {
    position: relative;
    top: 50%;
    width: 50%;
    float: left;
    padding-left: 2em;
    transform: translate(0, -50%);
}
.list_project:hover .list_pr_image img, .list_project:focus .list_pr_image img {
    width: 110%;
    opacity: 0.7;
}
.list_project:hover .list_pr_name_a, .list_project:focus .list_pr_name_a {
    background-color: #33a3ff;
}