@import url("../navbar_desktop.css");
body {
    background: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}
a {
    color: black;
    text-decoration: none;
}
#navbar {
    display: none;
}
.nascosto{
	margin: 0.6em;
	clear: both;
    font-size: 0.75em;
    display: block;
}
.logo_nascosto{
    width: 5em;
 
}
.logo_nascosto img{
    width: 100%;
}
.header {
    font-weight: 100;
    width: 100%;
    padding: 2em 2em;
    text-align: center;
    font-size: 2.25em;
}
#back_link {
    display: none;
}
form {
    width: 100%;
    text-align: center;
}
#container {
    position: relative;
    left: 50%;
    width: 45em;
    height: 25em;
    transform: translate(-50%, 0);
}
#div_img {
    display: none;
}
#div_data {
    width: 100%;
    height: inherit;
    padding-top: 4em;
}
.data {
    padding: 1em 2em;
}
input {
    padding: 0.2em;
}
#div_buttons, .error {
    display: none;
}