* {
    box-sizing: border-box;
	padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
    background-color: #f1f5fa;
}
.header {
    width: 100%;
    padding: 2em 2em;
    color: #0049a9e2;
    text-align: center;
    font-size: 36px;
}
#back_link {
    position: fixed;
    left: 20px;
    top: 20px;
    text-decoration: none;
    padding: 1em;
    color: white;
	background-color: #0099ffa8;
}
form {
    width: 100%;
}
#container {
    position: relative;
    left: 50%;
    width: 720px;
    height: 400px;
    transform: translate(-50%, 0);
}
#div_img {
    width: 50%;
    height: inherit;
    float: left;
    padding-top: 4em;
    text-align: center;
}
#div_data {
    width: 50%;
    height: inherit;
    float: left;
    padding-top: 4em;
}
.data {
    padding: 1em 2em;
}
input {
    padding: 0.2em;
}
#div_buttons {
    width: 100%;
    margin-top: 1em;
    text-align: center;
}
#div_buttons input {
    border: none;
    padding: 1em;
    color: white;
	background-color: #0099ffa8;
}
#cancel_btn {
    margin-left: 1em;
}
#div_buttons input:hover, #back_link:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #008cff7a;
}
.error {
    width: 100%;
    text-align: center;
}