@import url("../navbar_desktop.css");

#menu_bt2{
    background-color: #33a3ff;
}
#header {
    padding: 3.5em 2em 2em;
    color: #0049a9e2;
    text-align: center;
    font-size: 30px;
}
#back_link {
    position: fixed;
    left: 20px;
    top: 70px;
    text-decoration: none;
    padding: 1em;
    color: white;
	background-color: #0099ffa8;
}
#back_link:hover{
    text-decoration: underline;
    
}
#div_image {
    position: relative;
    width: calc(40% - 2em);
    height: 400px;
    float: left;
    margin-left: 2em;
    overflow: hidden;
}
#div_image img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
}
#div_specifiche {
    width: calc(60% - 8em);
    height: calc(400px - 4em);
    margin: 2em 4em;
    float: left;
}
.specifica {
    height: 16.6%;
    padding-top: 0.8em;
    color: gray;
    font-size: 1.2em;
}
.spec_data {
    float: right;
}
hr {
    border: none;
    border-top: 1px solid #b9b9b9;
}
#div_desc {
    width: 100%;
    height: auto;
    clear: both;
    padding: 2em 8em;
    text-align: center;
    color: gray;
    font-size: 1.2em;
    line-height: 1.2em;
}