@import url("../navbar_desktop.css");

/*
#prova {
    height: 50px;
    width: 200px;
    border: 1px solid orange;
}
#text {
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 20px;
    border: 1px solid green;
    transform: translateY(-50%);
}
*/

#header {
    padding: 3.5em 2em 2em;
    color: #0077ff;
    text-align: center;
}
#div_image {
    text-align: center;
    width: 100%;
    height: auto;
    padding-bottom: 2em;
}
#div_image img {
    width: 700px;
}
#div_specifiche {
    width: 100%;
    height: auto;
}
.specifica {
    color: gray;
    font-size: 1.5em;
    padding: 2em 18em;
}
.spec_data {
    float: right;
}
hr {
    margin: 0 20em;
    border: none;
    border-top: 1px solid #b9b9b9;
}
#div_desc {
    clear: both;
    width: 100%;
    height: auto;
    padding: 2em 8em;
    text-align: center;
    color: gray;
    font-size: 1.5em;
    line-height: 1.5em;
}