@import url("../navbar_mobile.css");

#back_link {
    
        float: left;
        margin-left: 20px;
        margin-top: 70px;
        text-decoration: none;
        padding: 10px;
        color: white;
        background-color: #0084ff;
    
    }
.title{
    clear: both;
    padding-bottom: 40px;
    color: rgba(0, 73, 169, 0.888);
    text-align: center;
    font-size: 32px;
    width: 90%;
    margin: auto;
}
.subtitle{

    padding-bottom: 40px;
    color: rgba(0, 73, 169, 0.888);
    text-align: center;
    font-size: 22px;
    width: 90%;
    margin: auto;
}
.informations{
    text-align: center;
    width: 100%;
    display: table;
    color: rgb(98, 105, 146);
    font-size: 14px;
}

.divisor{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid  #008cff3d;
   
}
.container_text_img{
    width: 100%;
    display: table;

    
}
.text{
    
    width: 100%;
    padding: 20px;
    color: rgb(98, 105, 146);
    font-size: 14px;
    
    
}
.container_img{
    width: 100%;
    text-align: center;
}
.container_img img{
    width: 60%;
}
.div_author{
    width: 100%;
    text-align: right;
    padding-right: 40px;
    padding-top: 60px; 
    
    
}

/*CONTATTI*/


#div_container_contatti{
    position: relative;
    background-color: rgb(241, 245, 250);
    width: 100%;
    height: 540px;
    padding-top: 1px;
}


.div_contatto{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    font-size: 13px;
    color: rgb(98, 105, 146);
    display: table;
    text-align: center;
}




/* FOOT */


#div_foot{
    
    width: 100%;
    height: 60px;
    background-color: rgb(1, 52, 110);
}

#div_text_foot{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 10px;
    color: rgb(181, 183, 197);
    display: table;
}