* {
    box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.nascosto{
	margin: 10px;
	clear: both;
	font-size: 12px;
}
#navbar {
	display: none;
}


#back_link {
    display: none;
}

.title{


    color: black;
    text-align: center;
    font-size: 36px;
    width: 90%;
    margin: auto;
}
.subtitle{

    padding-bottom: 40px;
    color: black;
    text-align: center;
    font-size: 26px;
    width: 90%;
    margin: auto;
}
.informations{
    text-align: center;
    width: 100%;
    display: table;
    color: black;
}

.divisor{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid  gray;
   
}
.container_text_img{
    display: table;
    padding: 10px;
    
}

.text{
    float: left;
    width: 68%;
    padding: 20px;
    color: black;
    
    
}
.container_img{
    float: left;
    width: 32%;
    padding: 20px;
    
}
.container_img img{
    width: 100%;
}
.div_author{
    width: 100%;
    text-align: right;
    padding-right: 40px;
    padding-top: 60px; 
}
input[type="checkbox"]{
    display: none;
    
}
/*CONTATTI*/

#div_container_contatti{
    page-break-inside: avoid;
	clear: both;
    width: 100%;
	height: 16em;
	text-align: center;
}
#div_contatti{  
    width: 100%;
    height: 16em;
    width: 48em;
    margin: auto;
}
.div_contatto{
    position: relative;
    float: left;
    width: 33.33%;
    margin-top: 70px;
    font-size: 11px;
    color: black;
}
a{
	color: black;
	text-decoration: none;
}
/* FOOT */

#div_foot{
    width: 100%;
    height: 40px;
    bottom: 0;
}
#div_text_foot{
	bottom: 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 11px;
    color: black;
    display: table;
}




