@import url("../navbar_mobile.css");

#menu_bt3{
    color: white;
    text-decoration: none;
}

#back_link {
    
        float: left;
        margin-left: 20px;
        margin-top: 70px;
        text-decoration: none;
        padding: 10px;
        color: white;
        background-color: #55bbff;
    
}
#back_link:hover{
    text-decoration: underline;
}
.title{
    font-weight: 100;
    clear: both;
    padding-bottom: 40px;
    color: #1551a0;
    text-align: center;
    font-size: 32px;
    width: 90%;
    margin: auto;
}
.subtitle{
    font-weight: 100;
    padding-bottom: 40px;
    color: #1551a0;
    text-align: center;
    font-size: 22px;
    width: 90%;
    margin: auto;
}
.informations{
    text-align: center;
    width: 100%;
    display: table;
    color: grey;
    font-size: 14px;
}

.divisor{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #a1d9ff;
   
}
.container_text_img{
    width: 100%;
    display: table;

    
}
.text{
    
    width: 100%;
    padding: 20px;
    color: grey;
    font-size: 14px;
    
    
}
.container_img{
    width: 100%;
    text-align: center;
}
.container_img img{
    width: 60%;
}
.div_author{
    width: 100%;
    text-align: right;
    padding-right: 40px;
    padding-top: 60px; 
    
    
}