* {
    box-sizing: border-box;
	padding: 0;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 0.75em;
}

.nascosto{
	margin: 0.6em;
	clear: both;
	font-size: 0.75em;
}
.logo_nascosto{
    width: 5em;
 
}
.logo_nascosto img{
    width: 100%;
}
#navbar {
	display: none;
}


#back_link {
    display: none;
}

.title{


    color: black;
    text-align: center;
    font-size: 2em;
    width: 90%;
    margin: auto;
}
.subtitle{

    padding-bottom: 2.5em;
    color: black;
    text-align: center;
    font-size: 1.62em;
    width: 90%;
    margin: auto;
}
.informations{
    text-align: center;
    width: 100%;
    display: table;
    color: black;
}

.divisor{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    border-top: 1px solid  gray;
   
}
.container_text_img{
    display: table;
    padding: 0.6em;
    
}

.text{
    float: left;
    width: 68%;
    padding: 1.25em;
    color: black;
    
    
}
.container_img{
    float: left;
    width: 32%;
    padding: 1.25em;
    
}
.container_img img{
    width: 100%;
}
.div_author{
    width: 100%;
    text-align: right;
    padding-right: 2.5em;
    padding-top: 3.75em; 
}
input[type="checkbox"]{
    display: none;
    
}
/*CONTATTI*/

#div_container_contatti{
    page-break-inside: avoid;
	clear: both;
    width: 100%;
	height: 16em;
	text-align: center;
}
#div_contatti{  
    width: 100%;
    height: 16em;
    width: 48em;
    margin: auto;
}
.div_contatto{
    position: relative;
    float: left;
    width: 33.33%;
    margin-top: 4.4em;
    
    color: black;
}
a{
	color: black;
	text-decoration: none;
}
/* FOOT */

#div_foot{
    width: 100%;
    height: 2.5em;
    bottom: 0;
}
#div_text_foot{
	bottom: 0;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  
    color: black;
    display: table;
}




