@import url("../navbar_desktop.css");

#menu_bt3{
    background-color: #33a3ff;
}

#back_link {
    margin-top: 50px;
    position: absolute;
    left: 20px;
    top: 20px;
    text-decoration: none;
    padding: 1em;
    color: white;
    background-color: #0084ff;
}
#back_link:hover{
    text-decoration: underline;
}
.title{
    font-weight: 100;
    padding-top: 4em;
    padding-bottom: 40px;
    color: rgba(0, 73, 169, 0.888);
    text-align: center;
    font-size: 36px;
    width: 90%;
    margin: auto;
}
.subtitle{
    font-weight: 100;
    padding-bottom: 40px;
    color: rgba(0, 73, 169, 0.888);
    text-align: center;
    font-size: 26px;
    width: 90%;
    margin: auto;
}
.informations{
    text-align: center;
    width: 100%;
    display: table;
    color: rgb(98, 105, 146);
}

.divisor{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid  #008cff3d;
   
}
.container_text_img{
    display: table;
    padding: 10px;
    
}

.text{
    float: left;
    width: 58%;
    padding: 20px;
    color: rgb(98, 105, 146);
    
    
}
.container_img{
    float: left;
    width: 42%;
    padding: 20px;
    
}
.container_img img{
    width: 100%;
}
.div_author{
    width: 100%;
    text-align: right;
    padding-right: 40px;
    padding-top: 60px; 
}


